@import "../mixin";

.cart-item {
  display: flex;
  gap: 20px;
  max-height: 210px;

  &__image {
    display: flex;
  }

  &__image-img {
    max-width: 158px;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 26px;
  }

  &__details {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__name {
    @include raleway(500, 24px);
  }

  &__quantity {
    @include montserrat(500, 20px);
    display: flex;
    align-items: center;
    gap: 19px;
    white-space: nowrap;
    text-align: center;
    letter-spacing: 0.78px;
    line-height: 92%;
    justify-content: space-between;

    &-mobile {
      display: none;
    }
  }

  &__quantity-control {
    font-family: Raleway, sans-serif;
  }

  &__price {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0 12px;
    // margin-left: auto;

    .cart-item__price-value {
      @include montserrat(600, 26px);
    }

    .cart-item__price-currency {
      font-size: 20px;
    }
  }

  &__options {
    display: flex;
    gap: 20px;

    .cart-item__option {
      font-size: 14px;
      color: rgba(0, 0, 0, 0.5);
      display: flex;
      flex-direction: column;
      gap: 24px;
    }

    .cart-item__option-label {
      display: block;
      font-family: Montserrat, sans-serif;
      font-size: 14px;
    }

    .cart-item__option-value {
      display: block;
      font-family: Montserrat, sans-serif;
      font-size: 16px;
      color: #000;
    }
  }

  &__option-values {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__sku {
    display: flex;
    align-items: center;
    margin-top: auto;
    gap: 20px;
    font-size: 14px;

    &-label {
      color: rgba(0, 0, 0, 0.5);
      font-family: Montserrat, sans-serif;

      &::after {
        content: "Артикул:";
      }
    }
  }

  @include tablet {
    &__name {
      font-size: 22px;
    }

    &__price {
      gap: 12px;
      margin-left: auto;

      .cart-item__price-value {
        font-size: 22px;
      }

      .cart-item__price-currency {
        font-size: 20px;
      }

      .cart-item__icon {
        width: 32px;
      }
    }

    &__top {
      margin-bottom: 20px;
    }

    &__quantity {
      font-size: 24px;
      &-control {
        font-size: 28px;
      }
    }

    &__icon {
      width: 32px;
    }

    &__options {
      gap: 12px;

      .cart-item__option {
        font-size: 28px;
        gap: 14px;
      }

      .cart-item__option-label {
        font-size: 18px;
      }

      .cart-item__option-value {
        font-size: 18px;

        .cart-item__icon-select {
          width: 16px;
        }
      }
    }

    &__option-values {
      gap: 12px;
    }

    &__sku {
      gap: 14px;
      font-size: 14px;

      &-label {
        &::after {
          content: "Арт:";
        }
      }
    }
  }

  @include mobile {
    &__name {
      font-size: 11px;
    }

    &__price {
      gap: 6px;
      margin-left: auto;

      .cart-item__price-value {
        font-size: 11px;
      }

      .cart-item__price-currency {
        font-size: 10px;
      }

      .cart-item__icon {
        width: 16px;
      }
    }

    &__top {
      margin-bottom: 10px;
    }

    &__quantity {
      display: none;

      &-control {
        font-size: 14px;
      }

      &-mobile {
        display: flex;
        font-size: 9px;
        gap: 6px;
        width: fit-content;
        margin-top: 6px;
      }
    }

    &__icon {
      width: 16px;
    }

    &__options {
      gap: 6px;

      .cart-item__option {
        font-size: 14px;
        gap: 7px;
      }

      .cart-item__option-label {
        font-size: 9px;
      }

      .cart-item__option-value {
        font-size: 9px;

        .cart-item__icon-select {
          width: 8px;
        }
      }
    }

    &__option-values {
      gap: 6px;
    }

    &__sku {
      gap: 7px;
      font-size: 7px;

      &-label {
        &::after {
          content: "Арт:";
        }
      }
    }
  }
}
