.credit-card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  max-width: 739px;
  font-size: 24px;
  color: #000;
  letter-spacing: 0.72px;
  padding: 80px 50px 45px;
  margin: 0 auto 56px;

  &__background {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;
  }

  &__title {
    position: relative;
    color: #02133e;
    text-align: center;
    letter-spacing: 1.2px;
    align-self: center;
    margin-top: 10px;
    font: 500 40px Montserrat, sans-serif;
  }

  &__number {
    position: relative;
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    margin-top: 156px;
  }

  &__points {
    position: relative;
    display: flex;
    margin-top: 63px;
    gap: 20px;
    text-align: center;
  }

  &__icon {
    display: flex;
    font-family: Montserrat, sans-serif;
    stroke-width: 1px;
    border-color: rgba(2, 19, 62, 1);
    border-style: solid;
    border-width: 1px;
    background-color: #fff;
    border-radius: 50%;
    align-items: center;
    font-weight: 400;
    white-space: nowrap;
    width: 37px;
    justify-content: center;
    height: 37px;
    padding: 0 17px;
  }

  &__info {
    display: flex;
    width: fit-content;
    gap: 16px;
    justify-content: flex-end;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    align-self: start;
    margin-top: 12px;
    flex-grow: 1;
  }

  &__info-label {
    font-size: 16px;
    display: flex;
    align-items: end;
  }

  &__info-value {
    font-size: 36px;
    display: flex;
    align-items: end;
  }

  @include tablet {
    font-size: 16px;
    // padding: 27px 14% 15px;
    // margin: 0 auto 18px;

    &__title {
      font-size: 24px;
    }

    &__number {
      // margin-top: 60px;
    }

    &__points {
      // margin-top: 18px;
    }

    &__background {
      // object-fit: contain;
      // width: 100%;
    }

    &__icon {
      width: 32px;
      padding: 12px;
      height: 32px;
    }

    &__info {
      display: flex;
      width: fit-content;
      gap: 16px;
      justify-content: flex-end;
      &-value, &-label {
        font-size: 16px;
      }
    }
  }

  @include mobile {
    max-width: 277px;
    min-width: 300px;
    font-size: 8px;
    padding: 27px 16px 15px;
    margin: 0 auto 18px;

    &__title {
      font-size: 12px;
    }

    &__number {
      margin-top: 54px;
      font-size: 12px;

      &-label {
        display: inline-block;
        margin-bottom: 6px;
        font-size: 8px;
      }
    }

    &__points {
      margin-top: 18px;
    }

    &__background {
      object-fit: contain;
      width: 100%;
    }

    &__icon {
      width: 16px;
      padding: 6px;
      height: 16px;
      margin-top: 12px;
    }

    &__info {
      display: flex;
      width: fit-content;
      gap: 8px;
      justify-content: flex-end;
      &-label {
        font-size: 8px;
      }

      &-value {
        font-size: 16px;
      }
    }
  }
}
