@import "../_variables.scss";
@import "../mixin.scss";

.header {
  padding: 20px 0;
  border-bottom: 1px solid #000;

  &-list {
    gap: 4px;
  }

  &-item {
    max-width: 80px;

    img {
      max-width: 100%;
    }

    @include mobile {
      &__search {
        display: none;
      }
    }
  }

  @include tablet {
    &-item {
      width: auto;
      max-width: 100%;

      img {
        max-width: 100%;
      }

      &__search {
        display: block; // Show search input on tablet
      }
    }
  }

  @include mobile {
    padding: 16px 0;

    &-item {
      max-width: 26px;

      img {
        max-width: 100%;
      }

      &__btn {
        width: 100%;
      }
    }
  }
}

.header-top {
  margin-bottom: 88px;
  justify-content: center;

  &__logo {
    margin-left: auto;
    margin-right: auto;
  }

  @include tablet {
    margin-bottom: 60px;

    &__logo {
      width: 350px;
    }
  }

  @include mobile {
    margin: 0;
    justify-content: space-between;

    &__logo {
      width: 123px;
    }
  }
}

.header-bottom {
  .header-item__link {
    display: inline-block;
    max-width: 202px;
    text-transform: uppercase;
    @include raleway(400, 24px);
  }
  .header-item:not(:last-child) {
    margin-right: 92px;
  }

  @include tablet {
    .header-item__link {
      max-width: 144px;
      gap: 24px;
      @include raleway(400, 18px);
    }
  }

  @include mobile {
    display: none; // Hide header bottom on mobile
  }
}

.account-header {
  border: none;
}

.account-header .header-top {
  border-bottom: 1px solid #000;
  margin-bottom: 16px;
}
