@import "../_variables.scss";
@import "../mixin.scss";
@import "dropdown.scss";

.header {
  padding: 20px 0 12px;
  border-bottom: 1px solid #000;

  &-list {
    gap: 4px;
    position: relative;
  }

  &-icons {
    @extend .header-list;
    gap: 60px;
  }

  &-item {
    max-width: 80px;

    & img {
      max-height: 40px;
      max-width: 100%;
    }

    @include mobile {
      &__search {
        display: none;
      }
    }
  }

  @include tablet {
    &-icons {
      gap: 40px;
    }

    &-item {
      width: auto;
      max-width: 100%;

      img {
        max-height: 32px;
      }

      &__search {
        display: block; // Show search input on tablet
      }
    }
  }

  @include mobile {
    padding: 16px 0;

    &-icons {
      gap: 16px;
    }

    &-item {
      max-width: 26px;

      img {
        max-height: 15px;
      }

      &__btn {
        width: 100%;
      }
    }
  }
}

.header-top {
  position: relative;
  margin-bottom: 50px;
  justify-content: center;

  &__logo {
    margin-left: auto;
    margin-right: auto;
    max-width: 536px;
  }

  .header-nav {
    position: absolute;
    right: 0;
  }

  @include tablet {
    margin-bottom: 30px;

    &__logo {
      width: 350px;
    }
  }

  @include mobile {
    margin: 0;
    justify-content: space-between;
    padding: 0 12px;

    &__logo {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 123px;
    }
  }
}

.header-bottom {
  .header-item__link {
    display: inline-block;
    max-width: 202px;
    text-transform: uppercase;
    @include raleway(400, 24px);
  }
  .header-item:not(:last-child) {
    margin-right: 92px;
  }

  @include tablet {
    .header-item__link {
      max-width: 144px;
      gap: 24px;
      @include raleway(400, 18px);
    }
  }

  @include mobile {
    display: none; // Hide header bottom on mobile
  }
}

.account-header {
  border: none;
}

.account-header {
  hr {
    width: 100%;
  }

  .header-top {
    margin-bottom: 16px;
  }
}
