.hero-nav {
  padding: 98px 0;

  &__item span {
    @include raleway(400, 27px);
  }

  &__item {
    width: 12%;
  }

  // &__item:not(:last-child) {
  // margin-right: 39px;
  // }

  &__img {
    width: 165px;
    height: 165px;
    margin-bottom: 39px;
    border-radius: 50%;
    background-color: #e5e5e5;
    overflow: hidden;
    object-fit: cover;
  }

  @include tablet {
    &__item span {
      @include raleway(400, 20px);
    }

    &__img {
      width: 100px;
      height: 100px;
      margin-bottom: 24px;
    }
  }

  @include mobile {
    display: none;
  }
}
