@import "../_variables.scss";
@import "../mixin.scss";

.newsletter {
  margin-top: 33px;
  &-title {
    font-family: Raleway, sans-serif;
    font-size: 1.25rem;
    margin-bottom: 10px;
  }
  &__input {
    border: none;
    padding: 10px;
    border-bottom: 1px solid rgba(#000000, 0.8);
    background: transparent;
    outline: none;
  }
}
