@import '_variables.scss';

.news-swiper {

  &__item--last {
    width: 100%;
    height: 559px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;

    & button {
      padding: 13px 20px;
      max-width: 170px;
      @include raleway(400, 16px);
      text-transform: uppercase;
      color: $gray;
      border: 1px solid $gray;
    }
  }

  &__top {
    position: relative;
    margin-bottom: 8px;

    & span {
      padding: 8px 10px;
      @include raleway(400, 24px);
      color: $oceanBlue;
      text-transform: uppercase;
      position: absolute;
      bottom: 32px;
      left: 0;
      border-top: 1px solid $oceanBlue;
      border-bottom: 1px solid $oceanBlue;
    }
  }
  &__icon {
    position: absolute;
    top: 4px;
    right: 8px;

    @media (max-width: $containerMaxWidthMobile) {
      width: calc(1rem + 100vw / 100 );
    }
  }

  &__info {
    align-items: flex-start;
    @include montserrat(400, 23px);
  }

  &__btn {
    padding: 8px 20px;
    @include raleway(400, 16px);
    text-transform: uppercase;
    color: $gray;
    border: 1px solid $gray;
  }

  @media (max-width: $containerMaxWidthMobile) {
    &__item--last {
      height: auto !important;
    }

    &__item {
      .d-flex-between {
        flex-wrap: nowrap;
      }
    }

    &__btn {
      padding: 4px 8px;
      @include raleway(400, 7px);
      align-self: start;
    }

    &__top span {
      padding: 4px;
      font-size: 7px;
      bottom: 10px;
    }

    &__info {
      font-size: 10px;
    }

    .swiper-slide {
      width: 40% !important;
      margin-right: 10px !important;
    }
  }
}

.similars-swiper__item {
  width: 20% !important;
}
