@import "_variables.scss";

.product-swiper {
  li.product-swiper__item {
    margin-right: 0 !important;
  }

  & img {
    // height: 763px;
    max-width: auto;
    width: 100%;
  }

  &__top {
    position: relative;
    margin-bottom: 8px;

    & span {
      padding: 8px 10px;
      @include raleway(400, 24px);
      color: $oceanBlue;
      text-transform: uppercase;
      position: absolute;
      bottom: 32px;
      left: 0;
      border-top: 1px solid $oceanBlue;
      border-bottom: 1px solid $oceanBlue;
    }
  }
  &__icon {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  &__info {
    align-items: flex-start;
    @include montserrat(400, 23px);
  }

  &__btn {
    padding: 8px 20px;
    @include raleway(400, 16px);
    text-transform: uppercase;
    color: $gray;
    border: 1px solid $gray;
  }
}

@media (max-width: $containerMaxWidthMobile) {
  .product-swiper .news-swiper .swiper-slide {
    width: 50% !important;
    flex: 0 0 50% !important;
    margin-right: 0 !important;
  }
}
