.registration-success {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #02133e;
  border: 2px solid rgba(2, 19, 62, 1);
  color: #fff;
  padding: 30px 60px;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 0.72px;
  z-index: 10;

  @media (max-width: 991px) {
    padding: 20px;
  }
}

.close-button {
  position: absolute;
  top: 18px;
  right: 18px;
  font-size: 20px;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}

.content-wrapper {
  max-width: 721px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.success-title {
  font: 600 30px Raleway, sans-serif;
  letter-spacing: 0.9px;
  width: 100%;

  @media (max-width: 991px) {
    max-width: 100%;
  }
}

.success-description {
  font-family: Raleway, sans-serif;
  margin-top: 117px;

  @media (max-width: 991px) {
    max-width: 100%;
    margin-top: 40px;
  }
}

.email-label {
  position: relative;
  font-family: Raleway, sans-serif;
  margin-top: 77px;
  width: 70%;
  border: none;
  border-bottom: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  font-size: 18px;
  padding: 5px 0;
  margin-bottom: 20px;
  text-align: center;

  &:focus {
    outline: none;
    border-color: #007bff;
  }
}

.next-button {
  font-family: Raleway, sans-serif;
  border-radius: 4px;
  background-color: #fff;
  margin-top: 28px;
  max-width: 277px;
  width: 100%;
  color: #02133e;
  font-weight: 400;
  white-space: nowrap;
  padding: 16px 60px;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;

  @media (max-width: 991px) {
    margin-top: 40px;
    white-space: initial;
    padding: 0 20px;
  }
}

.visually-hidden {
  position: email-label;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
