.social-media-section {
  display: flex;
  flex-direction: column;
  width: fit-content;
  position: fixed;
  right: 10px;
  bottom: 10px;
  overflow: hidden;
  z-index: 999;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;

  &__container {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }

  &__heading {
    width: 82%;
    color: #000;
    letter-spacing: 0.54px;
    padding-left: 16px;
    @include raleway(600, 18px);
  }

  &__icons {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    width: 18%;
    margin-left: 20px;

    &-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 18px;

      &__icon {
        aspect-ratio: 1.03;
        object-fit: auto;
        object-position: center;
        width: 64px;

        &:first-child {
          margin-top: 0;
        }
      }
    }
  }

  &__banner {
    & img {
      max-height: 42px;
    }

    width: 100%;
    border-radius: 72px;
    border: 2px solid rgba(0, 0, 0, 1);
    margin-top: 10px;
    padding: 12px 24px;
    gap: 18px;
    display: flex;
  }

  &__ksenia-social-media {
    align-self: center;
    display: flex;
    margin-top: 16px;
    align-items: center;
    gap: 20px;
    font-size: 18px;
    color: #000;
    font-weight: 600;
    letter-spacing: 0.54px;
    padding: 0 20px;

    &__text {
      font-family: Raleway, sans-serif;
      align-self: stretch;
      flex-grow: 1;
      margin: auto 0;
    }

    &__icon {
      aspect-ratio: 1;
      object-fit: auto;
      object-position: center;
      width: 34px;
      align-self: stretch;
      // box-shadow: 7px 4px 15px 0 rgba(0, 0, 0, 0.2);
      margin: auto 0;
    }
  }
}

// .expandable-active {
  
// }

.interactive-menu__open-btn {
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 999;
  overflow: hidden;
  max-height: fit-content;
  transition: max-height 0.5s ease-out;

  &-hidden {
    max-height: 0;
  }
}