<header class="header account-header">
  <div class="container">
    @include('./header-top.html')
    <div class="header-bottom">
      <nav class="header-nav">
        <ul class="header-list list-reset d-flex-between">
          <li class="haeader-item">
            <a href="#" class="header-item__link">Мои заказы</a>
          </li>
          <li class="haeader-item">
            <a href="#" class="header-item__link">Мои баллы</a>
          </li>
          <li class="haeader-item">
            <a href="#" class="header-item__link">Мои монеты</a>
          </li>
          <li class="haeader-item">
            <a href="#" class="header-item__link">Мои возвраты</a>
          </li>
          <li class="haeader-item">
            <a href="#" class="header-item__link">Приведи подругу</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
