<div class="cart-item">
  <div class="cart-item__image">
    <img
      loading="lazy"
      srcset="
        https://cdn.builder.io/api/v1/image/assets/TEMP/d413492facb823a673492b401cb90ae4be8a8a065266cc6a765fd37700e39809?apiKey=271f7d0f9b55459d8a0930adb083f30a&width=100   100w,
        https://cdn.builder.io/api/v1/image/assets/TEMP/d413492facb823a673492b401cb90ae4be8a8a065266cc6a765fd37700e39809?apiKey=271f7d0f9b55459d8a0930adb083f30a&width=200   200w,
        https://cdn.builder.io/api/v1/image/assets/TEMP/d413492facb823a673492b401cb90ae4be8a8a065266cc6a765fd37700e39809?apiKey=271f7d0f9b55459d8a0930adb083f30a&width=400   400w,
        https://cdn.builder.io/api/v1/image/assets/TEMP/d413492facb823a673492b401cb90ae4be8a8a065266cc6a765fd37700e39809?apiKey=271f7d0f9b55459d8a0930adb083f30a&width=800   800w,
        https://cdn.builder.io/api/v1/image/assets/TEMP/d413492facb823a673492b401cb90ae4be8a8a065266cc6a765fd37700e39809?apiKey=271f7d0f9b55459d8a0930adb083f30a&width=1200 1200w,
        https://cdn.builder.io/api/v1/image/assets/TEMP/d413492facb823a673492b401cb90ae4be8a8a065266cc6a765fd37700e39809?apiKey=271f7d0f9b55459d8a0930adb083f30a&width=1600 1600w,
        https://cdn.builder.io/api/v1/image/assets/TEMP/d413492facb823a673492b401cb90ae4be8a8a065266cc6a765fd37700e39809?apiKey=271f7d0f9b55459d8a0930adb083f30a&width=2000 2000w,
        https://cdn.builder.io/api/v1/image/assets/TEMP/d413492facb823a673492b401cb90ae4be8a8a065266cc6a765fd37700e39809?apiKey=271f7d0f9b55459d8a0930adb083f30a&
      "
      alt="cart-item Image"
      class="cart-item__image-img"
    />
  </div>
  <div class="cart-item__details">
    <div class="cart-item__top">
      <div class="cart-item__name">Жакет молочный</div>
      <div class="cart-item__quantity">
        <div class="cart-item__quantity-control">-</div>
        <div class="cart-item__quantity-value">1</div>
        <div class="cart-item__quantity-control">+</div>
      </div>
      <div class="cart-item__price">
        <span class="cart-item__price-value">22’490</span>
        <span class="cart-item__price-currency">руб.</span>
      </div>
      <img src="./img/icons/trash.png" alt="delete icon" class="cart-item__icon">
    </div>
    <div class="cart-item__options">
      <div class="cart-item__option">
        <span class="cart-item__option-label">Размер:</span>
        <span class="cart-item__option-label">Цвет:</span>
      </div>
      <div class="cart-item__option">
        <span class="cart-item__option-value">
          46
          <img src="./img/icons/arrow.png" alt="" width="19" height="10" class="cart-item__icon-select">
        </span>
        <span class="cart-item__option-value">молочный</span>
      </div>
    </div>
    <div class="cart-item__quantity cart-item__quantity-mobile">
      <div class="cart-item__quantity-control">-</div>
      <div class="cart-item__quantity-value">1</div>
      <div class="cart-item__quantity-control">+</div>
    </div>
    <div class="cart-item__sku">
      <span class="cart-item__sku-label"></span>
      <span class="cart-item__sku-value">8122-31114</span>
    </div>
  </div>
</div>
