<div class="cart-item">
  <div class="cart-item__image">
    <img
      loading="lazy"
      srcset="img/dresses/main-3.png"
      alt="cart-item Image"
      class="cart-item__image-img"
    />
  </div>
  <div class="cart-item__details">
    <div class="cart-item__top">
      <div class="cart-item__name">Жакет молочный</div>
      <div class="cart-item__quantity">
        <div class="cart-item__quantity-control">-</div>
        <div class="cart-item__quantity-value">1</div>
        <div class="cart-item__quantity-control">+</div>
      </div>
      <div class="d-flex">
        <div class="cart-item__price">
          <span class="cart-item__price-value">22’490</span>
          <span class="cart-item__price-currency">руб.</span>
        </div>
        <img
          src="./img/icons/trash.png"
          alt="delete icon"
          class="cart-item__icon"
        />
      </div>
    </div>
    <div class="cart-item__options">
      <div class="cart-item__option">
        <span class="cart-item__option-label">Размер:</span>
        <span class="cart-item__option-label">Цвет:</span>
      </div>
      <div class="cart-item__option-values">
        <span class="cart-item__option-value">
          <select name="size" id="size">
            <img
              src="./img/icons/arrow.png"
              alt=""
              width="19"
              height="10"
              class="cart-item__icon-select"
            />
            <option value="46">46</option>
            <option value="47">47</option>
          </select>
        </span>
        <span class="cart-item__option-value">молочный</span>
      </div>
    </div>
    <div class="cart-item__quantity cart-item__quantity-mobile">
      <div class="cart-item__quantity-control">-</div>
      <div class="cart-item__quantity-value">1</div>
      <div class="cart-item__quantity-control">+</div>
    </div>
    <div class="cart-item__sku">
      <span class="cart-item__sku-label"></span>
      <span class="cart-item__sku-value">8122-31114</span>
    </div>
  </div>
</div>
