<div class="credit-card">
  <!-- change img src -->
  <img loading="lazy" srcset="img/card.png" class="credit-card__background" />
  <div class="credit-card__title">ROYAL CLUB</div>
  <div class="credit-card__number">
    <span class="credit-card__number-label">Номер карты</span>
    <br />
    90183642765180
  </div>
  <div class="credit-card__points">
    <div class="credit-card__icon">i</div>
    <div class="credit-card__info">
      <span class="credit-card__info-label">БАЛЛЫ:</span>
      <span class="credit-card__info-value">200.41</span>
    </div>
  </div>
</div>
