<header class="header">
  <div class="container">
    @include('./header-top.html')
    <div class="header-bottom">
      <nav class="header-nav">
        <ul class="header-list list-reset d-flex-between">
          <li class="haeader-item">
            <a href="#" class="header-item__link">Каталог</a>
          </li>
          <li class="haeader-item">
            <a href="#" class="header-item__link">Хиты продаж</a>
          </li>
          <li class="haeader-item">
            <a href="#" class="header-item__link">О дизайнере</a>
          </li>
          <li class="haeader-item">
            <a href="#" class="header-item__link">Покупателям</a>
          </li>
          <li class="haeader-item">
            <a href="#" class="header-item__link">Магазины</a>
          </li>
          <li class="haeader-item">
            <a href="#" class="header-item__link">Оплата</a>
          </li>
          <li class="haeader-item">
            <a href="#" class="header-item__link">ПОДАРОЧНЫЕ СЕРТИФИКАТЫ</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
