<div class="header-top d-flex-center">
  <a href="index.html" class="header-top__logo">
    <img src="img/logo.svg" alt="logo" />
  </a>
  <nav class="header-nav">
    <ul class="header-list list-reset d-flex-center">
      <li class="haeader-item">
        <button class="header-item__btn btn-reset">
          <img src="img/navigation/search.png" alt="Поиск">
        </button>
      </li>
      <li class="haeader-item">
        <button class="header-item__btn btn-reset">
          <img src="img/navigation/note.png" alt="Избранные">
        </button>
      </li>
      <li class="haeader-item">
        <button class="header-item__btn btn-reset">
          <img src="img/navigation/cart.png" alt="Корзина">
        </button>
      </li>
      <li class="haeader-item">
        <button class="header-item__btn btn-reset">
          <img src="img/navigation/profile.png" alt="Профиль">
        </button>
      </li>
    </ul>
  </nav>
</div>