<div class="container">
  <div class="hero-nav">
    <nav class="hero-nav__nav">
      <ul class="hero-nav__list list-reset d-flex-between">
        <li class="hero-nav__item">
          <div class="d-flex-column">
            <img class="hero-nav__img" src="img/accessories/filters.png">
            <span>
              NEW
            </span>
          </div>
        </li>
        <li class="hero-nav__item">
          <a class="d-flex-column" href="/dresses.html">
            <img class="hero-nav__img" src="img/accessories/filters.png">
            <span>
              Одежда
            </span>
          </a>
        </li>
        <li class="hero-nav__item">
          <div class="d-flex-column">
            <img class="hero-nav__img" src="img/accessories/filters.png">
            <span>
              Обувь
            </span>
          </div>
        </li>
        <li class="hero-nav__item">
          <div class="d-flex-column">
            <img class="hero-nav__img" src="img/accessories/filters.png">
            <span>
              Аксессуары
            </span>
          </div>
        </li>
        <li class="hero-nav__item">
          <div class="d-flex-column">
            <img class="hero-nav__img" src="img/accessories/filters.png">
            <span>
              Доставка
            </span>
          </div>
        </li>
        <li class="hero-nav__item">
          <div class="d-flex-column">
            <img class="hero-nav__img" src="img/accessories/filters.png">
            <span>
              Магазины
            </span>
          </div>
        </li>
        <li class="hero-nav__item">
          <div class="d-flex-column">
            <img class="hero-nav__img" src="img/accessories/filters.png">
            <span>
              Отзывы
            </span>
          </div>
        </li>
      </ul>
    </nav>
  </div>
</div>
