<section class="interactive-menu">
  <div class="interactive-menu__container">
    <div class="interactive-menu__left">
      <div class="interactive-menu__dropdown" data-attached="telephone-menu">
        <ul class="interactive-menu__dropdown-list list-reset">
          <li class="interactive-menu__dropdown-item">
            <p class="interactive-menu__dropdown-item__title">
              +7 (499) 348-94-70
            </p>
            <p class="interactive-menu__dropdown-item__subtitle">
              ТЦ "Павелецкая Плаза"
            </p>
          </li>
          <li class="interactive-menu__dropdown-item">
            <p class="interactive-menu__dropdown-item__title">
              +7 (499) 348-94-70
            </p>
            <p class="interactive-menu__dropdown-item__subtitle">
              ТЦ "Павелецкая Плаза"
            </p>
          </li>
          <li class="interactive-menu__dropdown-item">
            <p class="interactive-menu__dropdown-item__title">
              +7 (499) 348-94-70
            </p>
            <p class="interactive-menu__dropdown-item__subtitle">
              ТЦ "Павелецкая Плаза"
            </p>
          </li>
          <li class="interactive-menu__dropdown-item">
            <p class="interactive-menu__dropdown-item__title">
              +7 (499) 348-94-70
            </p>
            <p class="interactive-menu__dropdown-item__subtitle">
              ТЦ "Павелецкая Плаза"
            </p>
          </li>
        </ul>
      </div>
      <div class="interactive-menu__dropdown" data-attached="location-menu">
        <ul class="interactive-menu__dropdown-list list-reset">
          <li class="interactive-menu__dropdown-item">
            <p class="interactive-menu__dropdown-item__title">
              ТЦ "Павелецкая Плаза"
            </p>
            <a class="interactive-menu__dropdown-item__link">
              проложить маршрут
            </a>
          </li>
          <li class="interactive-menu__dropdown-item">
            <p class="interactive-menu__dropdown-item__title">ТРЦ "Columbus"</p>
            <a class="interactive-menu__dropdown-item__link">
              проложить маршрут
            </a>
          </li>
          <li class="interactive-menu__dropdown-item">
            <p class="interactive-menu__dropdown-item__title">
              Шоу-рум "Парк Победы"
            </p>
            <a class="interactive-menu__dropdown-item__link">
              проложить маршрут
            </a>
          </li>
          <li class="interactive-menu__dropdown-item">
            <p class="interactive-menu__dropdown-item__title">ТЦ "Европолис"</p>
            <a class="interactive-menu__dropdown-item__link">
              проложить маршрут
            </a>
          </li>
        </ul>
      </div>
      <h2 class="interactive-menu__heading">МЫ В СОЦСЕТЯХ:</h2>
    </div>
    <div class="interactive-menu__icons">
      <div class="interactive-menu__icons-container">
        <img
          src="img/contacts-menu/phone.svg"
          alt="Social media icon"
          class="interactive-menu__icons-container__icon"
        />
        <img
          src="img/contacts-menu/telegram.svg"
          alt="Social media icon"
          class="interactive-menu__icons-container__icon"
        />
        <img
          src="img/contacts-menu/phone-call.svg"
          alt="Social media icon"
          class="interactive-menu__icons-container__icon"
        />
        <img
          src="img/contacts-menu/vk.svg"
          alt="Social media icon"
          class="interactive-menu__icons-container__icon"
        />
        <img
          src="img/contacts-menu/telephone.svg"
          alt="Social media icon"
          id="telephone-menu"
          class="interactive-menu__icons-container__icon"
        />
        <img
          src="img/contacts-menu/location.svg"
          id="location-menu"
          alt="Social media icon"
          class="interactive-menu__icons-container__icon"
        />
      </div>
      <div class="socials-dropdown"></div>
    </div>
  </div>
  <div class="interactive-menu__banner">
    <div class="interactive-menu__banner-wrapper">
      <img src="img/contacts-menu/instagram.png" alt="Social media icon" />
      <img
        src="img/contacts-menu/telegram.png"
        alt="Ksenia's social media icon"
      />
      <img src="img/contacts-menu/vk.png" alt="Ksenia's social media icon" />
      <img src="img/contacts-menu/tiktok.png" alt="Social media icon" />
      <img src="img/contacts-menu/youtube.png" alt="Social media icon" />
      <img
        src="img/contacts-menu/circle-cross.png"
        alt="Social media icon"
        class="interactive-menu__close-btn"
      />
    </div>
  </div>
  <div class="interactive-menu__ksenia-social-media">
    <span class="interactive-menu__ksenia-social-media__text"
      >СОЦСЕТИ КСЕНИИ:</span
    >
    <img
      src="img/contacts-menu/youtube.png"
      alt="Ksenia's social media icon"
      class="interactive-menu__ksenia-social-media__icon"
    />
    <img
      src="img/contacts-menu/instagram.png"
      alt="Ksenia's social media icon"
      class="interactive-menu__ksenia-social-media__icon"
    />
    <img
      src="img/contacts-menu/telegram.png"
      alt="Ksenia's social media icon"
      class="interactive-menu__ksenia-social-media__icon"
    />
    <img
      src="img/contacts-menu/tiktok.png"
      alt="Ksenia's social media icon"
      class="interactive-menu__ksenia-social-media__icon"
    />
  </div>
</section>
<div class="interactive-menu__open-btn">
  <img
    src="img/contacts-menu/phone.png"
    alt="Social media icon"
    class="interactive-menu__icons-container__icon"
  />
</div>
