<section class="mobile-filters container" id="mobile-filters">
  <div class="mobile-filters__header">
    <button
      class="modal__close btn-reset"
      aria-label="Close filters"
    >
      <img src="img/icons/modal-cross.svg" alt="modal close button" />
    </button>
    <h3 class="mobile-filters__title">фильтры</h3>
  </div>
  <div class="mobile-filters__section">
    <h4 class="mobile-filters__subtitle">
      сортировать
    </h4>
    <ul class="list-reset mobile-filters__list">
      <li class="mobile-filters__item">
        <div class="form-checkbox">
          <input type="checkbox" id="need-help" />
          <label class="form-checkbox__label" for="need-help"
            >Нужна консультация по телефону</label
          >
        </div>
      </li>
      <li class="mobile-filters__item">
        <div class="form-checkbox">
          <input type="checkbox" id="need-help" />
          <label class="form-checkbox__label" for="need-help"
            >Нужна консультация по телефону</label
          >
        </div>
      </li>
      <li class="mobile-filters__item">
        <div class="form-checkbox">
          <input type="checkbox" id="need-help" />
          <label class="form-checkbox__label" for="need-help"
            >Нужна консультация по телефону</label
          >
        </div>
      </li>
    </ul>
  </div>
</section>
