<nav role="navigation" class="mobile-menu">
  <div class="menu-toggle">
    <input type="checkbox" class="menu-toggle__input" />

    <span class="menu-toggle__icon"></span>
    <span class="menu-toggle__icon"></span>
    <span class="menu-toggle__icon"></span>

    <ul class="menu menu__list list-reset">
      <li class="menu__list__item"><a href="#" class="menu__list__item__link">Каталог</a></li>
      <li class="menu__list__item"><a href="#" class="menu__list__item__link">Хиты продаж</a></li>
      <li class="menu__list__item"><a href="#" class="menu__list__item__link">О дизайнере</a></li>
      <li class="menu__list__item"><a href="#" class="menu__list__item__link">Покупателям</a></li>
      <li class="menu__list__item"><a href="#" class="menu__list__item__link">Магазины</a></li>
      <li class="menu__list__item"><a href="#" class="menu__list__item__link">Оплата</a></li>
      <li class="menu__list__item"><a href="#" class="menu__list__item__link">ПОДАРОЧНЫЕ СЕРТИФИКАТЫ</a></li>
    </ul>
  </div>
</nav>
