<ul class="list-reset sidebar">
  <li class="sidebar__item ">
    <div class="d-flex-between accordion">
      КАТАЛОГ
      <img src="img/icons/arrow.png" alt="arrow down icon">
    </div>
    <div class="panel sidebar__links">
      <a class="sidebar__links-item">Смотреть все</a>
      <a class="sidebar__links-item">Осень-зима</a>
      <a class="sidebar__links-item">Скоро в продаже</a>
    </div>
  </li>
  <li class="sidebar__item">ХИТЫ ПРОДАЖ</li>
  <li class="sidebar__item">НОВИНКИ</li>
  <li class="sidebar__item">О ДИЗАЙНЕРЕ</li>
</ul>
