<section class="registration-success">
  <div class="content-wrapper">
    <button class="close-button">
      <img src="img/icons/cross.svg" alt="close button">
    </button>
    <h1 class="success-title">ПОЗДРАВЛЯЕМ С УСПЕШНОЙ РЕГИСТРАЦИЕЙ!</h1>
    <p class="success-description">
      Если в дальнейшем Вы хотите заходить <br />
      в Личный кабинет быстрее, пожалуйста, <br />
      <span class="bold-text">укажите Вашу почту</span>
    </p>
    <form>
      <label for="email-input" class="visually-hidden">Email</label>
      <input type="email" id="email-input" class="email-label" placeholder="Email" aria-label="Email" />
      <button type="submit" class="next-button">ДАЛЕЕ</button>
    </form>
  </div>
</section>