<div class="swiper news-swiper">
  <!-- Additional required wrapper -->
  <ul class="swiper-wrapper list-reset news-swiper__list">
    <!-- Slides -->
    <li class="swiper-slide news-swiper__item similars-swiper__item">
      <div class="news-swiper__top">
        <img src="img/news/image1.jpg" alt="Новинки" class="news-swiper__img" />
        <span>NEW</span>
        <button class="btn-reset news-swiper__icon">
          <img src="img/news/icon.png" alt="" />
        </button>
      </div>
      <div class="d-flex-between">
        <div class="news-swiper__info d-flex-column">
          <p>Жакет молочный</p>
          <span>22’490 руб.</span>
        </div>
        <button class="news-swiper__btn btn-reset">Добавить</button>
      </div>
    </li>
    <li class="swiper-slide news-swiper__item similars-swiper__item">
      <div class="news-swiper__top">
        <img src="img/news/image2.jpg" alt="Новинки" class="news-swiper__img" />
        <span>NEW</span>
        <button class="btn-reset news-swiper__icon">
          <img src="img/news/icon.png" alt="" />
        </button>
      </div>
      <div class="d-flex-between">
        <div class="news-swiper__info d-flex-column">
          <p>Платье</p>
          <span>17’990 руб.</span>
        </div>
        <button class="news-swiper__btn btn-reset">Добавить</button>
      </div>
    </li>
    <li class="swiper-slide news-swiper__item similars-swiper__item">
      <div class="news-swiper__top">
        <img src="img/news/image3.jpg" alt="Новинки" class="news-swiper__img" />
        <span>NEW</span>
        <button class="btn-reset news-swiper__icon">
          <img src="img/news/icon.png" alt="" />
        </button>
      </div>
      <div class="d-flex-between">
        <div class="news-swiper__info d-flex-column">
          <p>Брюки молочные</p>
          <span>14’990 руб.</span>
        </div>
        <button class="news-swiper__btn btn-reset">Добавить</button>
      </div>
    </li>
    <li class="swiper-slide news-swiper__item similars-swiper__item">
      <div class="news-swiper__top">
        <img src="img/news/image4.jpg" alt="Новинки" class="news-swiper__img" />
        <span>NEW</span>
        <button class="btn-reset news-swiper__icon">
          <img src="img/news/icon.png" alt="" />
        </button>
      </div>
      <div class="d-flex-between">
        <div class="news-swiper__info d-flex-column">
          <p>Жакет черный</p>
          <span>22’490 руб.</span>
        </div>
        <button class="news-swiper__btn btn-reset">Добавить</button>
      </div>
    </li>
    <li class="swiper-slide news-swiper__item similars-swiper__item">
      <div class="news-swiper__top">
        <img src="img/news/image5.jpg" alt="Новинки" class="news-swiper__img" />
        <span>NEW</span>
        <button class="btn-reset news-swiper__icon">
          <img src="img/news/icon.png" alt="" />
        </button>
      </div>
      <div class="d-flex-between">
        <div class="news-swiper__info d-flex-column">
          <p>Платье серебристое</p>
          <span>12’990 руб.</span>
        </div>
        <button class="news-swiper__btn btn-reset">Добавить</button>
      </div>
    </li>
    <li class="swiper-slide news-swiper__item similars-swiper__item">
      <div class="news-swiper__top">
        <img src="img/news/image6.jpg" alt="Новинки" class="news-swiper__img" />
        <span>NEW</span>
        <button class="btn-reset news-swiper__icon">
          <img src="img/news/icon.png" alt="" />
        </button>
      </div>
      <div class="d-flex-between">
        <div class="news-swiper__info d-flex-column">
          <p>Платье голубое</p>
          <span>17’990 руб.</span>
        </div>
        <button class="news-swiper__btn btn-reset">Добавить</button>
      </div>
    </li>
    <li class="swiper-slide news-swiper__item similars-swiper__item">
      <div class="news-swiper__top">
        <img src="img/news/image7.jpg" alt="Новинки" class="news-swiper__img" />
        <span>NEW</span>
        <button class="btn-reset news-swiper__icon">
          <img src="img/news/icon.png" alt="" />
        </button>
      </div>
      <div class="d-flex-between">
        <div class="news-swiper__info d-flex-column">
          <p>Брюки серебристые</p>
          <span>12’990 руб.</span>
        </div>
        <button class="news-swiper__btn btn-reset">Добавить</button>
      </div>
    </li>
    <li class="swiper-slide news-swiper__item similars-swiper__item">
      <div class="news-swiper__top">
        <img src="img/news/image8.jpg" alt="Новинки" class="news-swiper__img" />
        <span>NEW</span>
        <button class="btn-reset news-swiper__icon">
          <img src="img/news/icon.png" alt="" />
        </button>
      </div>
      <div class="d-flex-between">
        <div class="news-swiper__info d-flex-column">
          <p>Платье черное</p>
          <span>9’990 руб.</span>
        </div>
        <button class="news-swiper__btn btn-reset">Добавить</button>
      </div>
    </li>
    <li class="swiper-slide news-swiper__item similars-swiper__item">
      <div class="news-swiper__top">
        <img src="img/news/image9.jpg" alt="Новинки" class="news-swiper__img" />
        <span>NEW</span>
        <button class="btn-reset news-swiper__icon">
          <img src="img/news/icon.png" alt="" />
        </button>
      </div>
      <div class="d-flex-between">
        <div class="news-swiper__info d-flex-column">
          <p>Платье леопардовое</p>
          <span>9’990 руб.</span>
        </div>
        <button class="news-swiper__btn btn-reset">Добавить</button>
      </div>
    </li>
    <li class="swiper-slide news-swiper__item similars-swiper__item">
      <div class="news-swiper__top">
        <img
          src="img/news/image10.jpg"
          alt="Новинки"
          class="news-swiper__img"
        />
        <span>NEW</span>
        <button class="btn-reset news-swiper__icon">
          <img src="img/news/icon.png" alt="" />
        </button>
      </div>
      <div class="d-flex-between">
        <div class="news-swiper__info d-flex-column">
          <p>Юбка серебристая</p>
          <span>5’990 руб.</span>
        </div>
        <button class="news-swiper__btn btn-reset">Добавить</button>
      </div>
    </li>
    <li class="swiper-slide news-swiper__item similars-swiper__item">
      <div class="news-swiper__top">
        <img
          src="img/news/image11.jpg"
          alt="Новинки"
          class="news-swiper__img"
        />
        <span>NEW</span>
        <button class="btn-reset news-swiper__icon">
          <img src="img/news/icon.png" alt="" />
        </button>
      </div>
      <div class="d-flex-between">
        <div class="news-swiper__info d-flex-column">
          <p>Джемпер синий</p>
          <span>4’990 руб.</span>
        </div>
        <button class="news-swiper__btn btn-reset">Добавить</button>
      </div>
    </li>
    <li class="swiper-slide news-swiper__item similars-swiper__item">
      <div class="news-swiper__top">
        <img
          src="img/news/image12.jpg"
          alt="Новинки"
          class="news-swiper__img"
        />
        <span>NEW</span>
        <button class="btn-reset news-swiper__icon">
          <img src="img/news/icon.png" alt="" />
        </button>
      </div>
      <div class="d-flex-between">
        <div class="news-swiper__info d-flex-column">
          <p>Рубашка серебристая</p>
          <span>6’990 руб.</span>
        </div>
        <button class="news-swiper__btn btn-reset">Добавить</button>
      </div>
    </li>
    <li class="swiper-slide news-swiper__item similars-swiper__item">
      <div class="news-swiper__top">
        <img
          src="img/news/image13.jpg"
          alt="Новинки"
          class="news-swiper__img"
        />
        <span>NEW</span>
        <button class="btn-reset news-swiper__icon">
          <img src="img/news/icon.png" alt="" />
        </button>
      </div>
      <div class="d-flex-between">
        <div class="news-swiper__info d-flex-column">
          <p>Платье серебристое</p>
          <span>9’990 руб.</span>
        </div>
        <button class="news-swiper__btn btn-reset">Добавить</button>
      </div>
    </li>
    <li class="swiper-slide news-swiper__item similars-swiper__item">
      <div class="news-swiper__top">
        <img
          src="img/news/image14.jpg"
          alt="Новинки"
          class="news-swiper__img"
        />
        <span>NEW</span>
        <button class="btn-reset news-swiper__icon">
          <img src="img/news/icon.png" alt="" />
        </button>
      </div>
      <div class="d-flex-between">
        <div class="news-swiper__info d-flex-column">
          <p>Платье черное</p>
          <span>9’990 руб.</span>
        </div>
        <button class="news-swiper__btn btn-reset">Добавить</button>
      </div>
    </li>
    <li class="swiper-slide news-swiper__item similars-swiper__item">
      <div class="news-swiper__top">
        <img
          src="img/news/image15.jpg"
          alt="Новинки"
          class="news-swiper__img"
        />
        <span>NEW</span>
        <button class="btn-reset news-swiper__icon">
          <img src="img/news/icon.png" alt="" />
        </button>
      </div>
      <div class="d-flex-between">
        <div class="news-swiper__info d-flex-column">
          <p>Платье серое</p>
          <span>17’990 руб.</span>
        </div>
        <button class="news-swiper__btn btn-reset">Добавить</button>
      </div>
    </li>
    <li
      class="swiper-slide news-swiper__item news-swiper__item--last d-flex-center"
    >
      <button class="btn-reset">смотреть все новинки</button>
    </li>
  </ul>
  <button class="news-swiper-button-next swiper-btn-next btn-reset"></button>
</div>
