<section class="social-media-section">
  <div class="social-media-section__container">
    <h2 class="social-media-section__heading">МЫ В СОЦСЕТЯХ:</h2>
    <div class="social-media-section__icons">
      <div class="social-media-section__icons-container">
        <img
          src="img/contacts-menu/phone.png"
          alt="Social media icon"
          class="social-media-section__icons-container__icon"
        />
        <img
          src="img/contacts-menu/telegram.png"
          alt="Social media icon"
          class="social-media-section__icons-container__icon"
        />
        <img
          src="img/contacts-menu/phone-call.png"
          alt="Social media icon"
          class="social-media-section__icons-container__icon"
        />
        <img
          src="img/contacts-menu/vk.png"
          alt="Social media icon"
          class="social-media-section__icons-container__icon"
        />
        <img
          src="img/contacts-menu/telephone.png"
          alt="Social media icon"
          class="social-media-section__icons-container__icon"
        />
        <img
          src="img/contacts-menu/location.png"
          alt="Social media icon"
          class="social-media-section__icons-container__icon"
        />
      </div>
    </div>
  </div>
  <div class="social-media-section__banner">
    <img src="img/contacts-menu/instagram.png" alt="Social media icon" />
    <img
      src="img/contacts-menu/telegram.png"
      alt="Ksenia's social media icon"
    />
    <img src="img/contacts-menu/vk.png" alt="Ksenia's social media icon" />
    <img src="img/contacts-menu/tiktok.png" alt="Social media icon" />
    <img src="img/contacts-menu/youtube.png" alt="Social media icon" />
    <img src="img/contacts-menu/circle-cross.png" alt="Social media icon" class="interactive-menu__close-btn" />
  </div>
  <div class="social-media-section__ksenia-social-media">
    <span class="social-media-section__ksenia-social-media__text"
      >СОЦСЕТИ КСЕНИИ:</span
    >
    <img
      src="img/contacts-menu/youtube.png"
      alt="Ksenia's social media icon"
      class="social-media-section__ksenia-social-media__icon"
    />
    <img
      src="img/contacts-menu/instagram.png"
      alt="Ksenia's social media icon"
      class="social-media-section__ksenia-social-media__icon"
    />
    <img
      src="img/contacts-menu/telegram.png"
      alt="Ksenia's social media icon"
      class="social-media-section__ksenia-social-media__icon"
    />
    <img
      src="img/contacts-menu/tiktok.png"
      alt="Ksenia's social media icon"
      class="social-media-section__ksenia-social-media__icon"
    />
  </div>
</section>
<div class="interactive-menu__open-btn">
  <img
    src="img/contacts-menu/phone.png"
    alt="Social media icon"
    class="social-media-section__icons-container__icon"
  />
</div>
