<div class="tabs">
  <div class="tab-header">
    <button class="tab-button active" data-tab="tab1">ОПИСАНИЕ ТОВАРА</button>
    <button class="tab-button" data-tab="tab2">УХОД</button>
    <button class="tab-button" data-tab="tab3">ДОСТАВКА И ОПЛАТА</button>
    <button class="tab-button" data-tab="tab3">НАЛИЧИЕ В МАГАЗИНАХ</button>
  </div>
  <div class="tab-content" id="tab1">
    <p>
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum."
    </p>
    <p class="tab-content__bottom">Ткань верха: Подкладка: 100% полиэстер</p>
    <p>Утеплитель: синтепон 100г</p>
  </div>
  <div class="tab-content" id="tab2" style="display: none">
    Content of Tab 2
  </div>
  <div class="tab-content" id="tab3" style="display: none">
    Content of Tab 3
  </div>
</div>
