<section class="order-history-container">
  <table class="order-history">
    <thead class="order-history-header">
      <tr>
        <th class="order-history-header-date">ДАТА</th>
        <th class="order-history-header-order-number">
          НОМЕР<br />
          ЗАКАЗА
        </th>
        <th class="order-history-header-status">СТАТУС</th>
        <th class="order-history-header-points">БАЛЛЫ</th>
      </tr>
    </thead>
    <tbody class="order-history-content">
      <tr class="order-history-row">
        <td class="order-history-date-column">
          <time class="order-history-date" datetime="2023-12-29">29.12.2023</time>
        </td>
        <td class="order-history-number-column">
          <div class="order-history-number">39910197</div>
        </td>
        <td class="order-history-status-column">
          <div class="order-history-status">В процессе</div>
        </td>
        <td class="order-history-points-column">
          <div class="order-history-points">В процессе</div>
        </td>
      </tr>
      <tr class="order-history-row">
        <td class="order-history-date-column">
          <time class="order-history-date" datetime="2023-12-18">18.12.2023</time>
        </td>
        <td class="order-history-number-column">
          <div class="order-history-number">91034185</div>
        </td>
        <td class="order-history-status-column">
          <div class="order-history-status">Выполнен</div>
        </td>
        <td class="order-history-points-column">
          <div class="order-history-points">Начислены баллы</div>
        </td>
      </tr>
      <tr class="order-history-row">
        <td class="order-history-date-column">
          <time class="order-history-date" datetime="2023-11-13">13.11.2023</time>
        </td>
        <td class="order-history-number-column">
          <div class="order-history-number">61209371</div>
        </td>
        <td class="order-history-status-column">
          <div class="order-history-status">Отменен</div>
        </td>
        <td class="order-history-points-column">
          <div class="order-history-points">Начислений баллов не ожидается</div>
        </td>
      </tr>
      <tr class="order-history-row">
        <td class="order-history-date-column">
          <time class="order-history-date" datetime="2023-10-26">26.10.2023</time>
        </td>
        <td class="order-history-number-column">
          <div class="order-history-number">26739901</div>
        </td>
        <td class="order-history-status-column">
          <div class="order-history-status">Выполнен</div>
        </td>
        <td class="order-history-points-column">
          <div class="order-history-points">Начислены баллы</div>
        </td>
      </tr>
      <tr class="order-history-row">
        <td class="order-history-date-column">
          <time class="order-history-date" datetime="2023-09-01">01.09.2023</time>
        </td>
        <td class="order-history-number-column">
          <div class="order-history-number">82724320</div>
        </td>
        <td class="order-history-status-column">
          <div class="order-history-status">Выполнен</div>
        </td>
        <td class="order-history-points-column">
          <div class="order-history-points">Начислены баллы</div>
        </td>
      </tr>
      <tr class="order-history-row">
        <td class="order-history-date-column">
          <time class="order-history-date" datetime="2023-06-22">22.06.2023</time>
        </td>
        <td class="order-history-number-column">
          <div class="order-history-number">12830301</div>
        </td>
        <td class="order-history-status-column">
          <div class="order-history-status">Выполнен</div>
        </td>
        <td class="order-history-points-column">
          <div class="order-history-points">Начислены баллы</div>
        </td>
      </tr>
      <tr class="order-history-row">
        <td class="order-history-date-column">
          <time class="order-history-date" datetime="2023-06-05">05.06.2023</time>
        </td>
        <td class="order-history-number-column">
          <div class="order-history-number">72652423</div>
        </td>
        <td class="order-history-status-column">
          <div class="order-history-status">Выполнен</div>
        </td>
        <td class="order-history-points-column">
          <div class="order-history-points">Начислены баллы</div>
        </td>
      </tr>
      <tr class="order-history-row">
        <td class="order-history-date-column">
          <time class="order-history-date" datetime="2023-04-18">18.04.2023</time>
        </td>
        <td class="order-history-number-column">
          <div class="order-history-number">72784013</div>
        </td>
        <td class="order-history-status-column">
          <div class="order-history-status">Отменен</div>
        </td>
        <td class="order-history-points-column">
          <div class="order-history-points">Начислений баллов не ожидается</div>
        </td>
      </tr>
    </tbody>
  </table>
  <button class="order-return-button">ОФОРМИТЬ ВОЗВРАТ</button>
</section>