@import "_variables.scss";
@import "_mixin.scss";

.filters {
  padding: 83px 0 133px 0;

  &__title {
    margin-bottom: 60px;
    @include raleway(400, 64px);
    text-transform: uppercase;
  }

  .tags {
    margin-bottom: 40px;
    display: flex;
    align-items: center;

    &__back {
      transform: rotate(90deg);
      margin-right: 25px;
    }

    &__link {
      margin-right: 30px;
      @include raleway(400, 24px);
      color: $gray;
      text-transform: uppercase;
      border-bottom: 1px solid $gray;

      &:last-child {
        color: $mainColor;
      }
    }
  }

  .filters-list {
    &__btn {
      margin-right: 5px;
    }

    &__item {
      display: flex;
      align-items: center;
      @include raleway(400, 32px);

      &:not(:last-child) {
        margin-right: 86px;
      }
    }
  }

  &__btn {
    display: none;
  }

  @include tablet {
    padding: 64px 0;
    .tags__link {
      @include raleway(400, 20px);
    }

    &__title {
      margin-bottom: 60px;
      @include raleway(500, 32px);
    }

    .filters-list {
      &__btn {
        margin-right: 5px;
      }

      &__item {
        display: flex;
        align-items: center;
        @include raleway(400, 28px);

        img {
          width: 26px;
        }

        &:not(:last-child) {
          margin-right: 43px;
        }
      }
    }
  }

  @include mobile {
    padding: 24px 0;

    .second-container {
      padding: 0 32px;
      justify-content: space-between;
      display: flex;
    }

    .tags,
    .filters-list {
      display: none;
    }

    &__title {
      @include raleway(500, 16px);
      margin-bottom: 0;
    }

    &__btn {
      display: block;
    }
  }
}
