@import "_variables.scss";
@import "_mixin.scss";

.gallery {
  margin-bottom: 95px;

  .gallery-content {
    margin-bottom: 20px;
  }

  .gallery-left {
    margin-right: 14px;
    position: relative;
    width: calc(50% - 14px);

    & span {
      padding: 8px 10px;
      font-size: 48px;
      font-weight: 400;
      color: $whiteColor;
      text-transform: uppercase;
      position: absolute;
      bottom: 32px;
      left: 0;
      border-top: 1px solid $whiteColor;
      border-bottom: 1px solid $whiteColor;
    }

    &__icon {
      position: absolute;
      top: 10px;
      right: 10px;

      & img {
        width: 158px;
        height: 110px;
      }
    }

    & img {
      height: 100%;
    }
  }

  .gallery-right {
    display: flex;
    flex-direction: column;
    width: 50%;
    
    &__img {
      margin-bottom: 14px;
    }

    .gallery-bottom__img {
      width: 50%;
    }

    .gallery-bottom__img:not(:last-child) {
      margin-right: 14px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__title,
  &__price {
    @include montserrat(600, 40px);
  }
  
  &__price {
    color: $oceanBlue;
  }

  &__amount {
    font-weight: bold;
  }

  &__btn {
    padding: 15px 30px;
    @include raleway(400, 32px);
    text-transform: uppercase;
    color: $gray;
    border: 1px solid $gray;
  }

  @include tablet {
    margin-bottom: 0;

    .gallery-left {
      span {
        font-size: 36px;
        bottom: 28px;
      }

      &__icon img {
        width: 120px;
        height: 84px;
      }
    }

    .gallery-right {
      height: fit-content;

      &__img {
        // max-height: 297px;
        // max-width: 463px;
        width: 100%;
      }

      .gallery-bottom__img {
        // max-width: 226px;
        width: 100%;
      }
    }

    .gallery__title,
    .gallery__price {
      font-size: 24px;
    }

    .gallery__btn {
      padding: 10px 20px;
      font-size: 18px;
    }
  }

  @include mobile {
    margin-bottom: 0;

    .gallery__title,
    .gallery__price {
      @include raleway(600, 9px);
    }

    // Additional styles specific to collage layout
    .gallery-content {
      margin-bottom: 0;
    }

    .gallery-left {
      margin: 0;
      width: 100%;

      & span {
        padding: 8px 10px;
        @include raleway(400, 30px);
        color: $oceanBlue;
        text-transform: uppercase;
        position: absolute;
        bottom: 32px;
        left: 0;
        border-top: 1px solid $oceanBlue;
        border-bottom: 1px solid $oceanBlue;
      }

      & img {
        height: auto;
      }
    }

    .gallery-left__icon img {
      width: auto;
      height: auto;
    }

    .gallery-right {
      display: none;
    }

    &__btn {
      padding: 3px !important;
      font-size: 7px !important;
      text-transform: uppercase;
    }

    & img {
      width: fit-content;
      // max-width: 140px;
      // max-height: 670px;
    }

    &__amount {
      font-weight: normal;
    }

    .gallery-left__icon {
      img {
        max-width: 30px;
      }
    }

    .gallery-left span {
      padding: 3px;
      @include raleway(400, 7px);
      bottom: 13px;
    }
  }
}

// @media (max-width: $containerMaxWidthMobile) {
//   &__item {
//     max-width: 136px;

//     img {
//       max-width: 136px;
//     }
//   }

//   &__top {
//     & span {
//       padding: 3px;
//       @include raleway(400, 7px);
//       bottom: 13px;
//     }
//   }

//   &__btn {
//     padding: 3px;
//     font-size: 7px;
//   }

//   &__icon {
//     img {
//       max-width: 30px;
//     }
//   }

//   &__info {
//     @include montserrat(500, 9px);
//   }

//   .d-flex-between {
//     flex-wrap: nowrap;
//   }
//   // display: grid;
//   // grid-auto-rows: 1fr;
//   // grid-template-columns: 1fr 1fr;
//   // gap: 0px 0px;
// }
