@import "variables.scss";
@import "mixin.scss";

.gallery-list {
  margin-bottom: 110px;
  align-items: flex-start;
  flex-wrap: wrap;
  display: flex;
  gap: 36px;

  &__item {
    margin-bottom: 57px;
    width: calc(33% - 20px);

    &.gallery {
      width: 100%;
    }
  }

  &__top {
    position: relative;
    // margin-bottom: 8px;

    & span {
      padding: 8px 10px;
      @include raleway(400, 30px);
      color: $oceanBlue;
      text-transform: uppercase;
      position: absolute;
      bottom: 32px;
      left: 0;
      border-top: 1px solid $oceanBlue;
      border-bottom: 1px solid $oceanBlue;
    }
  }
  &__icon {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  &__info {
    max-width: 250px;
    align-items: flex-start;
    @include montserrat(600, 28px);

    & span {
      font-weight: 600;
      color: $oceanBlue;
    }

    & span span {
      color: #000;
      display: inline-block;
      text-decoration: line-through;
      margin-right: 8px;
      font-size: 19px;
      font-weight: 400;
    }
  }

  &__btn {
    padding: 8px 20px;
    @include raleway(400, 20px);
    text-transform: uppercase;
    color: $gray;
    border: 1px solid $gray;
    align-self: flex-end;
  }

  @include tablet {
    margin-bottom: 90px;
    gap: 21px;

    &__item {
      margin-bottom: 28px;
      width: calc(33% - 12px);
    }

    &__info {
      & span span {
        margin-right: 6px;
        font-size: 12px;
      }
    }

    &__info {
      @include montserrat(600, 17px);
    }

    &__btn {
      padding: 6px 12px;
      @include raleway(400, 12px);
    }
  }

  @include mobile {
    margin-bottom: 80px;
    gap: 32px;

    &__item {
      margin-bottom: 16px;
      width: calc(50% - 17px);

      &.gallery {
        width: calc(50% - 17px);
      }
    }

    &__top {
      & span {
        padding: 3px;
        @include raleway(400, 7px);
        bottom: 13px;
      }
    }

    &__btn {
      padding: 3px;
      font-size: 7px;
    }

    &__icon {
      img {
        max-width: 30px;
      }
    }

    &__info {
      @include montserrat(600, 9px);

      & span span {
        font-size: 7px;
        margin-right: 4px;
        text-decoration: line-through;
      }
    }

    .d-flex-between {
      flex-wrap: nowrap;
    }
  }
}
