@import "../../_variables.scss";
@import "../../_mixin.scss";

.gallery-list {
  margin-bottom: 110px;
  align-items: flex-start;
  flex-wrap: wrap;

  &__item {
    margin-bottom: 57px;
  }

  &__top {
    position: relative;
    // margin-bottom: 8px;

    & span {
      padding: 8px 10px;
      @include raleway(400, 30px);
      color: $oceanBlue;
      text-transform: uppercase;
      position: absolute;
      bottom: 32px;
      left: 0;
      border-top: 1px solid $oceanBlue;
      border-bottom: 1px solid $oceanBlue;
    }
  }
  &__icon {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  &__info {
    max-width: 250px;
    align-items: flex-start;
    @include montserrat(400, 28px);

    & span {
      font-weight: 600;
    }

    & span span {
      display: inline-block;
      text-decoration: line-through;
      font-size: 19px;
      font-weight: 400;
    }
  }

  &__btn {
    padding: 8px 20px;
    @include raleway(400, 20px);
    text-transform: uppercase;
    color: $gray;
    border: 1px solid $gray;
    align-self: flex-end;
  }

  @include tablet {
    margin-bottom: 90px;

    &__item {
      margin-bottom: 28px;
    }

    &__img {
      max-width: 296px;
    }

    &__info {
      @include montserrat(500, 17px);
    }

    &__btn {
      padding: 6px 12px;
      @include raleway(400, 12px);
    }
  }

  @include mobile {
    margin-bottom: 80px;

    &__item {
      margin-bottom: 16px;
      width: 48%;
    }

    &__top {
      & span {
        padding: 3px;
        @include raleway(400, 7px);
        bottom: 13px;
      }
    }

    &__btn {
      padding: 3px;
      font-size: 7px;
    }

    &__icon {
      img {
        max-width: 30px;
      }
    }

    &__info {
      @include montserrat(600, 9px);
      
      & span span {
        @include montserrat(500, 9px);
        margin-right: 4px;
        text-decoration: line-through;
      }
    }

    .d-flex-between {
      flex-wrap: nowrap;
    }
  }
}
