<ul class="gallery-list list-reset d-flex">
  <li class="gallery-list__item">
    <div class="gallery-list__top">
      <img src="img/jeans/sub-1.png" class="gallery-list__img">
      <span>NEW</span>
      <button class="btn-reset gallery-list__icon">
        <img src="img/news/icon.png">
      </button>
    </div>
    <div class="d-flex-between">
      <div class="gallery-list__info d-flex-column">
        <p>Джинсы голубые</p>
        <span>6’990 руб.</span>
      </div>
      <button class="gallery-list__btn btn-reset">Добавить</button>
    </div>
  </li>
  <li class="gallery-list__item">
    <div class="gallery-list__top">
      <img src="img/jeans/sub-2.png" class="gallery-list__img">
      <span>NEW</span>
      <button class="btn-reset gallery-list__icon">
        <img src="img/news/icon.png">
      </button>
    </div>
    <div class="d-flex-between">
      <div class="gallery-list__info d-flex-column">
        <p>Джинсы серые</p>
        <span>6’990 руб.</span>
      </div>
      <button class="gallery-list__btn btn-reset">Добавить</button>
    </div>
  </li>
  <li class="gallery-list__item">
    <div class="gallery-list__top">
      <img src="img/jeans/sub-3.png" class="gallery-list__img">
      <span>NEW</span>
      <button class="btn-reset gallery-list__icon">
        <img src="img/news/icon.png">
      </button>
    </div>
    <div class="d-flex-between">
      <div class="gallery-list__info d-flex-column">
        <p>Джинсы синие</p>
        <span>6’990 руб.</span>
      </div>
      <button class="gallery-list__btn btn-reset">Добавить</button>
    </div>
  </li>
</ul>
