<section class="filters">
  <div class="second-container">
    <div class="tags">
      <a href="index.html" class="tags__link">Главная</a>
      <a href="#" class="tags__link">Одежда</a>
    </div>
    <h2 class="filters__title section-title">Верхняя одежда</h2>
    <ul class="filters-list d-flex list-reset">
      <li class="filters-list__item">
        <button class="filters-list__btn btn-reset">Размер одежды</button>
        <img src="img/icons/arrow.png" class="filters-list__icon">
      </li>
      <li class="filters-list__item">
        <button class="filters-list__btn btn-reset">Цвет</button>
        <img src="img/icons/arrow.png" class="filters-list__icon">
      </li>
      <li class="filters-list__item">
        <button class="filters-list__btn btn-reset">Цена</button>
        <img src="img/icons/arrow.png" class="filters-list__icon">
      </li>
      <li class="filters-list__item">
        <button class="filters-list__btn btn-reset">Наличие в магазинах</button>
        <img src="img/icons/arrow.png" class="filters-list__icon">
      </li>
    </ul>
  </div>
</section>
