<div class="gallery">
  <div class="gallery-content d-flex">
    <div class="gallery__left gallery-left">
      <img src="img/top-clothes/main-2.1.png" class="gallery-left__img">
      <span>NEW</span>
      <button class="btn-reset gallery-left__icon">
        <img src="img/news/icon.png">
      </button>
    </div>
    <div class="gallery__right gallery-right">
      <img class="gallery-right__img" src="img/top-clothes/main-2.2.png">
      <div class="gallery-right__bottom gallery-bottom d-flex">
        <img class="gallery-bottom__img" src="img/top-clothes/main-2.3.png">
        <img class="gallery-bottom__img" src="img/top-clothes/main-2.4.png">
      </div>
    </div>
  </div>
  <div class="d-flex-between">
    <div class="gallery__info">
      <p class="gallery__title">Пальто красное</p>
      <span class="gallery__price"><b>34’990</b> руб.</span>
    </div>
    <button class="gallery__btn btn-reset">Добавить</button>
  </div>
</div>
