<ul class="gallery-list list-reset d-flex">
  <li class="gallery-list__item">
    <div class="gallery-list__top">
      <img src="img/top-clothes/sub-2.1.png" class="gallery-list__img">
      <span>NEW</span>
      <button class="btn-reset gallery-list__icon">
        <img src="img/news/icon.png">
      </button>
    </div>
    <div class="d-flex-between">
      <div class="gallery-list__info d-flex-column">
        <p>Пальто бежевое</p>
        <span>34’990 руб.</span>
      </div>
      <button class="gallery-list__btn btn-reset">Добавить</button>
    </div>
  </li>
  <li class="gallery-list__item">
    <div class="gallery-list__top">
      <img src="img/top-clothes/sub-2.2.png" class="gallery-list__img">
      <span>NEW</span>
      <button class="btn-reset gallery-list__icon">
        <img src="img/news/icon.png">
      </button>
    </div>
    <div class="d-flex-between">
      <div class="gallery-list__info d-flex-column">
        <p>Пальто серое</p>
        <span>34’990 руб.</span>
      </div>
      <button class="gallery-list__btn btn-reset">Добавить</button>
    </div>
  </li>
  <li class="gallery-list__item">
    <div class="gallery-list__top">
      <img src="img/top-clothes/sub-2.3.png" class="gallery-list__img">
      <span>NEW</span>
      <button class="btn-reset gallery-list__icon">
        <img src="img/news/icon.png">
      </button>
    </div>
    <div class="d-flex-between">
      <div class="gallery-list__info d-flex-column">
        <p>Куртка черная</p>
        <span>13’990 руб.</span>
      </div>
      <button class="gallery-list__btn btn-reset">Добавить</button>
    </div>
  </li>
  <li class="gallery-list__item">
    <div class="gallery-list__top">
      <img src="img/top-clothes/sub-2.4.png" class="gallery-list__img">
      <span>NEW</span>
      <button class="btn-reset gallery-list__icon">
        <img src="img/news/icon.png">
      </button>
    </div>
    <div class="d-flex-between">
      <div class="gallery-list__info d-flex-column">
        <p>Полупальто коричневое</p>
        <span>10’990 руб.</span>
      </div>
      <button class="gallery-list__btn btn-reset">Добавить</button>
    </div>
  </li>
  <li class="gallery-list__item">
    <div class="gallery-list__top">
      <img src="img/top-clothes/sub-2.5.png" class="gallery-list__img">
      <span>NEW</span>
      <button class="btn-reset gallery-list__icon">
        <img src="img/news/icon.png">
      </button>
    </div>
    <div class="d-flex-between">
      <div class="gallery-list__info d-flex-column">
        <p>Полупальто бежевое</p>
        <span>10’990 руб.</span>
      </div>
      <button class="gallery-list__btn btn-reset">Добавить</button>
    </div>
  </li>
  <li class="gallery-list__item">
    <div class="gallery-list__top">
      <img src="img/top-clothes/sub-2.6.png" class="gallery-list__img">
      <span>NEW</span>
      <button class="btn-reset gallery-list__icon">
        <img src="img/news/icon.png">
      </button>
    </div>
    <div class="d-flex-between">
      <div class="gallery-list__info d-flex-column">
        <p>Куртка черная</p>
        <span>9’990 руб.</span>
      </div>
      <button class="gallery-list__btn btn-reset">Добавить</button>
    </div>
  </li>
  <li class="gallery-list__item">
    <div class="gallery-list__top">
      <img src="img/top-clothes/sub-2.7.png" class="gallery-list__img">
      <span>NEW</span>
      <button class="btn-reset gallery-list__icon">
        <img src="img/news/icon.png">
      </button>
    </div>
    <div class="d-flex-between">
      <div class="gallery-list__info d-flex-column">
        <p>Куртка бежевая</p>
        <span>9’990 руб.</span>
      </div>
      <button class="gallery-list__btn btn-reset">Добавить</button>
    </div>
  </li>
  <li class="gallery-list__item">
    <div class="gallery-list__top">
      <img src="img/top-clothes/sub-2.8.png" class="gallery-list__img">
      <span>NEW</span>
      <button class="btn-reset gallery-list__icon">
        <img src="img/news/icon.png">
      </button>
    </div>
    <div class="d-flex-between">
      <div class="gallery-list__info d-flex-column">
        <p>Тренч красный</p>
        <span>24’990 руб.</span>
      </div>
      <button class="gallery-list__btn btn-reset">Добавить</button>
    </div>
  </li>
  <li class="gallery-list__item">
    <div class="gallery-list__top">
      <img src="img/top-clothes/sub-2.9.png" class="gallery-list__img">
      <span>NEW</span>
      <button class="btn-reset gallery-list__icon">
        <img src="img/news/icon.png">
      </button>
    </div>
    <div class="d-flex-between">
      <div class="gallery-list__info d-flex-column">
        <p>Тренч голубой</p>
        <span>24’990 руб.</span>
      </div>
      <button class="gallery-list__btn btn-reset">Добавить</button>
    </div>
  </li>
  <li class="gallery-list__item">
    <div class="gallery-list__top">
      <img src="img/top-clothes/sub-2.10.png" class="gallery-list__img">
      <span>NEW</span>
      <button class="btn-reset gallery-list__icon">
        <img src="img/news/icon.png">
      </button>
    </div>
    <div class="d-flex-between">
      <div class="gallery-list__info d-flex-column">
        <p>Пальто черное</p>
        <span>24’990 руб.</span>
      </div>
      <button class="gallery-list__btn btn-reset">Добавить</button>
    </div>
  </li>
  <li class="gallery-list__item">
    <div class="gallery-list__top">
      <img src="img/top-clothes/sub-2.11.png" class="gallery-list__img">
      <span>NEW</span>
      <button class="btn-reset gallery-list__icon">
        <img src="img/news/icon.png">
      </button>
    </div>
    <div class="d-flex-between">
      <div class="gallery-list__info d-flex-column">
        <p>Тренч черный</p>
        <span>22’990 руб.</span>
      </div>
      <button class="gallery-list__btn btn-reset">Добавить</button>
    </div>
  </li>
  <li class="gallery-list__item">
    <div class="gallery-list__top">
      <img src="img/top-clothes/sub-2.12.png" class="gallery-list__img">
      <span>NEW</span>
      <button class="btn-reset gallery-list__icon">
        <img src="img/news/icon.png">
      </button>
    </div>
    <div class="d-flex-between">
      <div class="gallery-list__info d-flex-column">
        <p>Тренч бежевый</p>
        <span>22’990 руб.</span>
      </div>
      <button class="gallery-list__btn btn-reset">Добавить</button>
    </div>
  </li>
  <li class="gallery-list__item">
    <div class="gallery-list__top">
      <img src="img/top-clothes/sub-2.13.png" class="gallery-list__img">
      <span>NEW</span>
      <button class="btn-reset gallery-list__icon">
        <img src="img/news/icon.png">
      </button>
    </div>
    <div class="d-flex-between">
      <div class="gallery-list__info d-flex-column">
        <p>Куртка джинсовая</p>
        <span>8’990 руб.</span>
      </div>
      <button class="gallery-list__btn btn-reset">Добавить</button>
    </div>
  </li>
  <li class="gallery-list__item">
    <div class="gallery-list__top">
      <img src="img/top-clothes/sub-2.14.png" class="gallery-list__img">
      <span>NEW</span>
      <button class="btn-reset gallery-list__icon">
        <img src="img/news/icon.png">
      </button>
    </div>
    <div class="d-flex-between">
      <div class="gallery-list__info d-flex-column">
        <p>Пальто розовое</p>
        <span>24’990 руб.</span>
      </div>
      <button class="gallery-list__btn btn-reset">Добавить</button>
    </div>
  </li>
  <li class="gallery-list__item">
    <div class="gallery-list__top">
      <img src="img/top-clothes/sub-2.15.png" class="gallery-list__img">
      <span>NEW</span>
      <button class="btn-reset gallery-list__icon">
        <img src="img/news/icon.png">
      </button>
    </div>
    <div class="d-flex-between">
      <div class="gallery-list__info d-flex-column">
        <p>Тренч бежевый</p>
        <span>24’990 руб.</span>
      </div>
      <button class="gallery-list__btn btn-reset">Добавить</button>
    </div>
  </li>
  <li class="gallery-list__item">
    <div class="gallery-list__top">
      <img src="img/top-clothes/sub-2.16.png" class="gallery-list__img">
      <span>NEW</span>
      <button class="btn-reset gallery-list__icon">
        <img src="img/news/icon.png">
      </button>
    </div>
    <div class="d-flex-between">
      <div class="gallery-list__info d-flex-column">
        <p>Тренч коричневый</p>
        <span>24’990 руб.</span>
      </div>
      <button class="gallery-list__btn btn-reset">Добавить</button>
    </div>
  </li>
  <li class="gallery-list__item">
    <div class="gallery-list__top">
      <img src="img/top-clothes/sub-2.17.png" class="gallery-list__img">
      <span>NEW</span>
      <button class="btn-reset gallery-list__icon">
        <img src="img/news/icon.png">
      </button>
    </div>
    <div class="d-flex-between">
      <div class="gallery-list__info d-flex-column">
        <p>Тренч розовый</p>
        <span>24’990 руб.</span>
      </div>
      <button class="gallery-list__btn btn-reset">Добавить</button>
    </div>
  </li>
  <li class="gallery-list__item">
    <div class="gallery-list__top">
      <img src="img/top-clothes/sub-2.18.png" class="gallery-list__img">
      <span>NEW</span>
      <button class="btn-reset gallery-list__icon">
        <img src="img/news/icon.png">
      </button>
    </div>
    <div class="d-flex-between">
      <div class="gallery-list__info d-flex-column">
        <p>Пальто черное</p>
        <span>21’490 руб.</span>
      </div>
      <button class="gallery-list__btn btn-reset">Добавить</button>
    </div>
  </li>
  <li class="gallery-list__item">
    <div class="gallery-list__top">
      <img src="img/top-clothes/sub-2.19.png" class="gallery-list__img">
      <span>NEW</span>
      <button class="btn-reset gallery-list__icon">
        <img src="img/news/icon.png">
      </button>
    </div>
    <div class="d-flex-between">
      <div class="gallery-list__info d-flex-column">
        <p>Пальто светло-бежевое</p>
        <span>21’490 руб.</span>
      </div>
      <button class="gallery-list__btn btn-reset">Добавить</button>
    </div>
  </li>
  <li class="gallery-list__item">
    <div class="gallery-list__top">
      <img src="img/top-clothes/sub-2.20.png" class="gallery-list__img">
      <span>NEW</span>
      <button class="btn-reset gallery-list__icon">
        <img src="img/news/icon.png">
      </button>
    </div>
    <div class="d-flex-between">
      <div class="gallery-list__info d-flex-column">
        <p>Пальто темно-бежевое</p>
        <span>21’490 руб.</span>
      </div>
      <button class="gallery-list__btn btn-reset">Добавить</button>
    </div>
  </li>
  <li class="gallery-list__item">
    <div class="gallery-list__top">
      <img src="img/top-clothes/sub-2.21.png" class="gallery-list__img">
      <span>-50%</span>
      <button class="btn-reset gallery-list__icon">
        <img src="img/news/icon.png">
      </button>
    </div>
    <div class="d-flex-between">
      <div class="gallery-list__info d-flex-column">
        <p>Жилет</p>
        <span><span>22’990 </span>11’490 руб.</span>
      </div>
      <button class="gallery-list__btn btn-reset">Добавить</button>
    </div>
  </li>
</ul>
