<section class="about">
  <div class="container d-flex-column">
    <div class="about-top d-flex-column">
      <h3 class="about-top__title about-title">Ksenia Knyazeva - Интернет магазин дизайнерской одежды</h3>
      <p class="about-top__subtitle">
        Наряды от дизайнера Ксения Князева сделаны для настоящих Женщин.
      </p>
      <p class="about-top__text">
        Героиня Ксении — городская модница, уверенная в себе, романтичная и естественная.
        Она живет в ритме современной жизни, обладает своим неповторимым стилем.
        Изящные женственные силуэты, уникальные принты, красочные расцветки, интересный крой —
        все для ярких индивидуальностей.
        <span>Для тех, кто не боится быть в центре внимания.</span>
      </p>
    </div>
    <div class="about-bottom">
      <h3 class="about-bottom__title about-title">
        Особенности нашего бренда
      </h3>
      <div class="about-bottom__text">
        <ul class="about-list list-reset">
          <li class="about-list__item d-flex">
            <span>1</span>
            <div class="about-info">
              <p class="about-info__title">Уникальность</p>
              <p class="about-info__descr">сохранение неповторимого образа,
                красоты и Вашей индивидуальности
                в каждой детали</p>
            </div>
          </li>
          <li class="about-list__item d-flex">
            <span>2</span>
            <div class="about-info">
              <p class="about-info__title">Консультация стилистов</p>
              <p class="about-info__descr">которые помогут с выбором и
                созданием стильного образа</p>
            </div>
          </li>
          <li class="about-list__item d-flex">
            <span>3</span>
            <div class="about-info">
              <p class="about-info__title">Оплата по частям Долями</p>
              <p class="about-info__descr">возможность разделить покупка
                на 4 платежа без %</p>
            </div>
          </li>
        </ul>
        <ul class="about-list list-reset">
          <li class="about-list__item d-flex">
            <span>4</span>
            <div class="about-info">
              <p class="about-info__title">Доставка за 2-3 дня</p>
              <p class="about-info__descr">по Москве и оплата после примерки.
                Экспресс доставка в регионы.</p>
            </div>
          </li>
          <li class="about-list__item d-flex">
            <span>5</span>
            <div class="about-info">
              <p class="about-info__title">Система Royal Club</p>
              <p class="about-info__descr">которая возвращает бонусы
                с каждой покупки</p>
            </div>
          </li>
          <li class="about-list__item d-flex">
            <span>6</span>
            <div class="about-info">
              <p class="about-info__title">Бесплатный возврат
                и легкий обмен</p>
            </div>
          </li>
        </ul>
      </div>
      <p class="about-bottom__footer">
        Сохраняйте свой неповторимый образ, красоту и индивидуальность – с продукцией марки Ksenia Knyazeva!
      </p>
    </div>
  </div>
</section>
