<section class="categories">
  <div class="container">
    <h2 class="section-title">Категории</h2>
    <h3 class="categories__title">Аксессуары</h3>
    <ul class="categories-list list-reset">
      <li class="categories-list__item d-flex-column categories-item">
        <img src="img/accessories/image1.png" class="categories-item__img">
        <p class="categories-item__title">ROYAL SAMPLES</p>
        <a href="#" class="categories-item__link">Смотреть</a>
      </li>
      <li class="categories-list__item d-flex-column categories-item">
        <img src="img/accessories/image2.png" class="categories-item__img">
        <p class="categories-item__title">ДЕКОРАТИВНЫЕ ЭЛЕМЕНТЫ</p>
        <a href="#" class="categories-item__link">Смотреть</a>
      </li>
      <li class="categories-list__item d-flex-column categories-item">
        <img src="img/accessories/image3.png" class="categories-item__img">
        <p class="categories-item__title">ШЛЯПЫ</p>
        <a href="#" class="categories-item__link">Смотреть</a>
      </li>
      <li class="categories-list__item d-flex-column categories-item">
        <img src="img/accessories/image4.png" class="categories-item__img">
        <p class="categories-item__title">ОЧКИ</p>
        <a href="#" class="categories-item__link">Смотреть</a>
      </li>
      <li class="categories-list__item d-flex-column categories-item">
        <img src="img/accessories/image5.png" class="categories-item__img">
        <p class="categories-item__title">СУМКИ</p>
        <a href="#" class="categories-item__link">Смотреть</a>
      </li>
      <li class="categories-list__item d-flex-column categories-item">
        <img src="img/accessories/image6.png" class="categories-item__img">
        <p class="categories-item__title">УКРАШЕНИЯ</p>
        <a href="#" class="categories-item__link">Смотреть</a>
      </li>
      <li class="categories-list__item d-flex-column categories-item">
        <img src="img/accessories/image7.png" class="categories-item__img">
        <p class="categories-item__title">ОБУВЬ</p>
        <a href="#" class="categories-item__link">Смотреть</a>
      </li>
      <li class="categories-list__item d-flex-column categories-item">
        <img src="img/accessories/image8.png" class="categories-item__img">
        <p class="categories-item__title">РЕМНИ</p>
        <a href="#" class="categories-item__link">Смотреть</a>
      </li>
      <li class="categories-list__item d-flex-column categories-item">
        <img src="img/accessories/image9.png" class="categories-item__img">
        <p class="categories-item__title">ГОЛОВНЫЕ УБОРЫ</p>
        <a href="#" class="categories-item__link">Смотреть</a>
      </li>
      <li class="categories-list__item d-flex-column categories-item">
        <img src="img/accessories/image10.png" class="categories-item__img">
        <p class="categories-item__title">РАСПРОДАЖА
          АКСЕССУАРОВ</p>
        <a href="#" class="categories-item__link">Смотреть</a>
      </li>
      <li class="categories-list__item d-flex-column categories-item">
        <img src="img/accessories/image11.png" class="categories-item__img">
        <p class="categories-item__title">КОЛЛЕКЦИЯ
          SOLA MONOVA</p>
        <a href="#" class="categories-item__link">Смотреть</a>
      </li>
    </ul>
  </div>
</section>
