<section class="categories">
  <div class="container">
    <h2 class="section-title">Категории</h2>
    <h3 class="categories__title">Одежда</h3>
    <ul class="categories-list list-reset">
      <li class="categories-list__item d-flex-column categories-item">
        <img src="img/clothes/image1.png" class="categories-item__img">
        <p class="categories-item__title">ДЖИНСЫ</p>
        <a href="jeans.html" class="categories-item__link">Смотреть</a>
      </li>
      <li class="categories-list__item d-flex-column categories-item">
        <img src="img/clothes/image2.png" class="categories-item__img">
        <p class="categories-item__title">ВЕРХНЯЯ ОДЕЖДА</p>
        <a href="top-clothes.html" class="categories-item__link">Смотреть</a>
      </li>
      <li class="categories-list__item d-flex-column categories-item">
        <img src="img/clothes/image3.png" class="categories-item__img">
        <p class="categories-item__title">ПЛАТЬЯ</p>
        <a href="dresses.html" class="categories-item__link">Смотреть</a>
      </li>
      <li class="categories-list__item d-flex-column categories-item">
        <img src="img/clothes/image4.png" class="categories-item__img">
        <p class="categories-item__title">РУБАШКИ И БЛУЗЫ</p>
        <a href="#" class="categories-item__link">Смотреть</a>
      </li>
      <li class="categories-list__item d-flex-column categories-item">
        <img src="img/clothes/image5.png" class="categories-item__img">
        <p class="categories-item__title">ЮБКИ</p>
        <a href="#" class="categories-item__link">Смотреть</a>
      </li>
      <li class="categories-list__item d-flex-column categories-item">
        <img src="img/clothes/image6.png" class="categories-item__img">
        <p class="categories-item__title">БРЮКИ</p>
        <a href="#" class="categories-item__link">Смотреть</a>
      </li>
      <li class="categories-list__item d-flex-column categories-item">
        <img src="img/clothes/image7.png" class="categories-item__img">
        <p class="categories-item__title">ЖАКЕТЫ И ЖИЛЕТЫ</p>
        <a href="#" class="categories-item__link">Смотреть</a>
      </li>
      <li class="categories-list__item d-flex-column categories-item">
        <img src="img/clothes/image8.png" class="categories-item__img">
        <p class="categories-item__title">СВИТШОТЫ И ХУДИ</p>
        <a href="#" class="categories-item__link">Смотреть</a>
      </li>
      <li class="categories-list__item d-flex-column categories-item">
        <img src="img/clothes/image9.png" class="categories-item__img">
        <p class="categories-item__title">КОМПЛЕКТЫ</p>
        <a href="#" class="categories-item__link">Смотреть</a>
      </li>
      <li class="categories-list__item d-flex-column categories-item">
        <img src="img/clothes/image10.png" class="categories-item__img">
        <p class="categories-item__title">ДЖЕМПЕРЫ</p>
        <a href="#" class="categories-item__link">Смотреть</a>
      </li>
      <li class="categories-list__item d-flex-column categories-item">
        <img src="img/clothes/image11.png" class="categories-item__img">
        <p class="categories-item__title">ФУТБОЛКИ И ТОПЫ</p>
        <a href="#" class="categories-item__link">Смотреть</a>
      </li>
      <li class="categories-list__item d-flex-column categories-item">
        <img src="img/clothes/image12.png" class="categories-item__img">
        <p class="categories-item__title">ВОДОЛАЗКИ</p>
        <a href="#" class="categories-item__link">Смотреть</a>
      </li>
    </ul>
  </div>
</section>
