<div class="faq-section">
  <ul class="faq-list list-reset">
    <li class="faq-item">
      <div class="accordion">
        <span class="faq-icon">
          <svg
            class="icon"
            width="63px"
            font-weight="100"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <line
              x1="12"
              y1="1"
              x2="12"
              y2="23"
              style="stroke: #000; stroke-width: 1"
            />
            <line
              x1="1"
              y1="12"
              x2="23"
              y2="12"
              style="stroke: #000; stroke-width: 1"
            />
          </svg>
        </span>
        <h4 class="faq-title">Кто может участвовать?</h4>
      </div>
      <div class="panel">
        <p>Ответ на вопрос о том, кто может участвовать.</p>
      </div>
    </li>
    <li class="faq-item">
      <div class="accordion">
        <span class="faq-icon">
          <svg
            class="icon"
            width="63px"
            font-weight="100"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <line
              x1="12"
              y1="1"
              x2="12"
              y2="23"
              style="stroke: #000; stroke-width: 1"
            />
            <line
              x1="1"
              y1="12"
              x2="23"
              y2="12"
              style="stroke: #000; stroke-width: 1"
            />
          </svg>
        </span>
        <h4 class="faq-title">Кто может участвовать?</h4>
      </div>
      <div class="panel">
        <p>Ответ на вопрос о том, кто может участвовать.</p>
      </div>
    </li>
    <li class="faq-item">
      <div class="accordion">
        <span class="faq-icon">
          <svg
            class="icon"
            width="63px"
            font-weight="100"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <line
              x1="12"
              y1="1"
              x2="12"
              y2="23"
              style="stroke: #000; stroke-width: 1"
            />
            <line
              x1="1"
              y1="12"
              x2="23"
              y2="12"
              style="stroke: #000; stroke-width: 1"
            />
          </svg>
        </span>
        <h4 class="faq-title">Кто может участвовать?</h4>
      </div>
      <div class="panel">
        <p>Ответ на вопрос о том, кто может участвовать.</p>
      </div>
    </li>
    <!-- Add more FAQ items as needed -->
  </ul>
</div>
