<footer class="footer">
  <div class="container footer-container">
    <ul class="container-list list-reset">
      <li class="container-list__item">
        <ul class="list-reset footer-list">
          <li class="footer-list__item">
            <h3 class="footer-list__title">Покупателям</h3>
            <ul class="footer-list__sublist list-reset">
              <li class="footer-list__subitem">
                <a href="#" class="footer-list__link">Доставка и оплата</a>
              </li>
              <li class="footer-list__subitem">
                <a href="#" class="footer-list__link">Обмен и возврат</a>
              </li>
              <li class="footer-list__subitem">
                <a href="#" class="footer-list__link">Программа лояльности</a>
              </li>
              <li class="footer-list__subitem">
                <a href="#" class="footer-list__link">Подарочная карта</a>
              </li>
            </ul>
          </li>
          <li class="footer-list__item">
            <h3 class="footer-list__title">О бренде</h3>
            <ul class="footer-list__sublist list-reset">
              <li class="footer-list__subitem">
                <a href="#" class="footer-list__link">История бренда</a>
              </li>
              <li class="footer-list__subitem">
                <a href="#" class="footer-list__link">Магазины</a>
              </li>
              <li class="footer-list__subitem">
                <a href="#" class="footer-list__link">Карьера</a>
              </li>
              <li class="footer-list__subitem">
                <a href="#" class="footer-list__link">Консультация стилиста</a>
              </li>
            </ul>
          </li>
          <li class="footer-list__item footer-list__socials">
            <h3 class="footer-list__title">Мы в соцсетях</h3>
            <ul class="list-reset footer-list__sublist list-reset">
              <li class="footer-list__subitem">
                <a href="#" class="footer-list__link">YouTube</a>
              </li>
              <li class="footer-list__subitem">
                <a href="#" class="footer-list__link">Telegram</a>
              </li>
              <li class="footer-list__subitem">
                <a href="#" class="footer-list__link">Instagram</a>
              </li>
              <li class="footer-list__subitem">
                <a href="#" class="footer-list__link">VK</a>
              </li>
              <li class="footer-list__subitem">
                <a href="#" class="footer-list__link">Tik-Tok</a>
              </li>
            </ul>
          </li>
          <li class="footer-list__item">
            <h3 class="footer-list__title">Контакты</h3>
            <ul class="list-reset footer-list__sublist list-reset">
              <li class="footer-list__subitem">
                <a class="footer-list__link" href="tel:+8 800 511 94 70"
                  >8 (800) 511 94 70</a
                >
              </li>
              <li class="footer-list__subitem">
                <a class="footer-list__link" href="mailto:store@knyazeva.ru"
                  >store@knyazeva.ru</a
                >
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="container-list__item">
        <ul class="list-reset footer-list footer-bottom">
          <li class="footer-list__item footer-bottom__faq">
            <ul class="footer-list__sublist list-reset">
              <li class="footer-list__subitem">
                <a href="#" class="footer-list__link">Вопросы и ответы</a>
              </li>
              <li class="footer-list__subitem">
                <a href="#" class="footer-list__link">Оферта</a>
              </li>
              <li class="footer-list__subitem">
                <a href="#" class="footer-list__link">Правовая информация</a>
              </li>
              <li class="footer-list__subitem">
                <a href="#" class="footer-list__link">Размеры</a>
              </li>
            </ul>
          </li>
          <li class="footer-list__item footer-list__socials-mobile">
            <h3 class="footer-list__title">Мы в соцсетях</h3>
            <div class="d-flex">
              <ul class="footer-list__sublist list-reset">
                <li class="footer-list__subitem">
                  <a href="#" class="footer-list__link">YouTube</a>
                </li>
                <li class="footer-list__subitem">
                  <a href="#" class="footer-list__link">Telegram</a>
                </li>
                <li class="footer-list__subitem">
                  <a href="#" class="footer-list__link">Instagram</a>
                </li>
              </ul>
              <ul class="footer-list__sublist list-reset">
                <li class="footer-list__subitem">
                  <a href="#" class="footer-list__link">VK</a>
                </li>
                <li class="footer-list__subitem">
                  <a href="#" class="footer-list__link">Tik-Tok</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="footer-list__item footer-list__form">
            <h3 class="footer-list__title form-title">
              Узнавать первой о новиньках и скидках
            </h3>
            <input type="email" placeholder="Email" />
          </li>
        </ul>
      </li>
    </ul>
  </div>
  @include('./components/sub-footer.html')
</footer>
