<section class="more">
  <ul class="list-reset more-list">
    <li class="more-list__item more-item">
      <div class="more-item__info">
        <img src="img/more/image1.png" />
        <h3 class="more-item__title">Платья</h3>
        <a href="dresses.html" class="more-item__link">Смотреть все</a>
      </div>
      <img src="img/more/image2.png" />
    </li>
    <li class="more-list__item more-item">
      <div class="more-item__info">
        <img src="img/more/image4.png" />
        <h3 class="more-item__title">Жакеты</h3>
        <a href="#" class="more-item__link">Смотреть все</a>
      </div>
      <img src="img/more/image3.png" />
    </li>
    <li class="more-list__item more-item">
      <div class="more-item__info">
        <img src="img/more/image5.png" />
        <h3 class="more-item__title">Юбки</h3>
        <a href="#" class="more-item__link">Смотреть все</a>
      </div>
      <img src="img/more/image6.png" />
    </li>
  </ul>
</section>
