<footer class="footer second-footer">
  <div class="container footer-container">
    <ul class="list-reset second-footer__container">
      <li class="footer-list__item">
        <div class="footer__payments">
          <div class="footer__brand-details">
            <img src="img/logo.png" alt="Brand logo" class="footer__logo" />
            <p class="footer__brand-description">
              Бренд дизайнерской одежды родился в 2010 году и был призван
              вывести модную одежду от кутюр на улицы, предварительно
              приспособив ее к городским условиям. Ксения собрала команду таких
              же фанатов высокой моды: молодых конструкторов и художников,
              которые сами с удовольствием носят вещи марки.
            </p>
            <div class="footer__payments-list">
              <img
                src="img/payments/visa.png"
                alt="visa"
                class="footer__payments-icon"
              />
              <img
                src="img/payments/mastercard.png"
                alt="mastercard"
                class="footer__payments-icon"
              />
              <img
                src="img/payments/mir.png"
                alt="mir"
                class="footer__payments-icon"
              />
              <img
                src="img/payments/jcb.png"
                alt="jcb"
                class="footer__payments-icon"
              />
            </div>
          </div>
        </div>
      </li>
      <li class="footer-list__item">
        <h3 class="footer-list__title">Покупателям</h3>
        <ul class="footer-list__sublist list-reset">
          <li class="footer-list__subitem">
            <a href="#" class="footer-list__link">Доставка и оплата</a>
          </li>
          <li class="footer-list__subitem">
            <a href="#" class="footer-list__link">Обмен и возврат</a>
          </li>
          <li class="footer-list__subitem">
            <a href="#" class="footer-list__link">Программа лояльности</a>
          </li>
          <li class="footer-list__subitem">
            <a href="#" class="footer-list__link">Подарочная карта</a>
          </li>
          <li class="footer-list__subitem">
            <a href="#" class="footer-list__link">Доставка и оплата</a>
          </li>
          <li class="footer-list__subitem">
            <a href="#" class="footer-list__link">Обмен и возврат</a>
          </li>
          <li class="footer-list__subitem">
            <a href="#" class="footer-list__link">Программа лояльности</a>
          </li>
          <li class="footer-list__subitem">
            <a href="#" class="footer-list__link">Подарочная карта</a>
          </li>
        </ul>
      </li>
      <li class="footer-list__item">
        <h3 class="footer-list__title">О бренде</h3>
        <ul class="footer-list__sublist list-reset">
          <li class="footer-list__subitem">
            <a href="#" class="footer-list__link">История бренда</a>
          </li>
          <li class="footer-list__subitem">
            <a href="#" class="footer-list__link">Магазины</a>
          </li>
          <li class="footer-list__subitem">
            <a href="#" class="footer-list__link">Карьера</a>
          </li>
          <li class="footer-list__subitem">
            <a href="#" class="footer-list__link">Консультация стилиста</a>
          </li>
        </ul>
        <h3 class="footer-list__title">Контакты</h3>
        <ul class="list-reset footer-list__sublist list-reset">
          <li class="footer-list__subitem">
            <a class="footer-list__link" href="tel:+8 800 511 94 70"
              >8 (800) 511 94 70</a
            >
          </li>
          <li class="footer-list__subitem">
            <a class="footer-list__link" href="mailto:store@knyazeva.ru"
              >store@knyazeva.ru</a
            >
          </li>
          <li class="footer-list__subitem">
            <a class="footer-list__link" href="mailto:store@knyazeva.ru">
              г. Москва, площадь Победы 2к2
            </a>
          </li>
        </ul>
      </li>
      <li class="footer-list__item footer-list__socials">
        <h3 class="footer-list__title">Мы в соцсетях</h3>
        <ul class="list-reset footer-list__sublist list-reset second-footer__socials">
          <li class="footer-list__subitem">
            <a href="#" class="footer-list__link">YouTube</a>
            <a href="#" class="footer-list__link">Telegram</a>
            <a href="#" class="footer-list__link">Instagram</a>
          </li>
          <li class="footer-list__subitem">
            <a href="#" class="footer-list__link">VK</a>
            <a href="#" class="footer-list__link">Tik-Tok</a>
          </li>
        </ul>
        <div class="second-footer__newsletter">
          <h2 class="footer-list__title">
            УЗНАТЬ ПЕРВОЙ О<br />
            НОВИНКАХ И СКИДКАХ
          </h2>
          <form class="second-footer__newsletter-form">
            <label for="second-footer-newsletter-email" class="visually-hidden">Введите эл. почту</label>
            <input
              type="email"
              id="second-footer-newsletter-email"
              class="second-footer__newsletter-input"
              placeholder="Введите эл. почту"
            />
            <!-- <button type="submit" class="second-footer__newsletter-submit"> -->
              <img src="img/icons/arrow.png" alt="Submit newsletter"  />
            <!-- </button> -->
          </form>
        </div>
      </li>
      <!-- <li class="container-list__item">
        <ul class="list-reset footer-list footer-bottom">
          <li class="footer-list__item footer-bottom__faq">
            <ul class="footer-list__sublist list-reset">
              <li class="footer-list__subitem">
                <a href="#" class="footer-list__link">Вопросы и ответы</a>
              </li>
              <li class="footer-list__subitem">
                <a href="#" class="footer-list__link">Оферта</a>
              </li>
              <li class="footer-list__subitem">
                <a href="#" class="footer-list__link">Правовая информация</a>
              </li>
              <li class="footer-list__subitem">
                <a href="#" class="footer-list__link">Размеры</a>
              </li>
            </ul>
          </li>
          <li class="footer-list__item footer-list__socials-mobile">
            <h3 class="footer-list__title">Мы в соцсетях</h3>
            <div class="d-flex">
              <ul class="footer-list__sublist list-reset">
                <li class="footer-list__subitem">
                  <a href="#" class="footer-list__link">YouTube</a>
                </li>
                <li class="footer-list__subitem">
                  <a href="#" class="footer-list__link">Telegram</a>
                </li>
                <li class="footer-list__subitem">
                  <a href="#" class="footer-list__link">Instagram</a>
                </li>
              </ul>
              <ul class="footer-list__sublist list-reset">
                <li class="footer-list__subitem">
                  <a href="#" class="footer-list__link">VK</a>
                </li>
                <li class="footer-list__subitem">
                  <a href="#" class="footer-list__link">Tik-Tok</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="footer-list__item footer-list__form">
            <h3 class="footer-list__title form-title">
              Узнавать первой о новиньках и скидках
            </h3>
            <input type="email" placeholder="Email" />
          </li>
        </ul>
      </li> -->
    </ul>
  </div>
  @include('./components/sub-footer.html')
</footer>
