@import "_mixin.scss";

table,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

.order-history-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.order-history {
  border: 2px solid rgba(2, 19, 62, 1);
  width: 100%;

  &-header {
    background-color: #02133e;
    color: #fff;
    font-weight: 600;
    text-align: center;

    th {
      border-right: 1px solid white;
      padding: 20px;
      font-size: 30px;
      font-family: Raleway, sans-serif;
    }

    &-points {
      background-color: #02133e;
      width: 404px;
      max-width: 100%;
    }
  }

  &-row {
    td {
      padding: 20px;
      text-align: center;
      font-size: 24px;
      color: #000;
      font-weight: 500;
      letter-spacing: 0.72px;
      font-family: Montserrat, sans-serif;
    }
  }

  &-date-column {
    width: 18%;
  }

  &-number-column {
    width: 17%;

    .order-history-number {
      text-decoration: underline;
    }
  }

  &-status-column {
    width: 19%;
  }

  &-points-column {
    width: 46%;
  }

  @include tablet {
    &-header {
      th {
        padding: 16px 20px;
        font-size: 20px;
      }
    }

    &-row {
      td {
        padding: 12px 20px;
        font-size: 16px;
      }
    }
  }

  @include mobile {
    &-header {
      th {
        padding: 8px 10px;
        font-size: 6px;
      }
    }

    &-row {
      td {
        padding: 6px 10px;
        font-size: 7px;
      }
    }
  }
}

.order-return-button {
  background-color: #02133e;
  color: #fff;
  text-align: center;
  letter-spacing: 0.72px;
  justify-content: center;
  padding: 15px 36px;
  font: 500 24px Raleway, sans-serif;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  margin: 40px auto;

  @include mobile {
    padding: 10px 20px;
    font-size: 20px;
    margin: 20px auto;
  }

  @include mobile {
    padding: 5px 10px;
    font-size: 10px;
    margin: 10px auto;
  }
}
