@import "_variables.scss";
@import "_mixin.scss";

.about {
  padding-bottom: 100px;

  .about-title {
    @include raleway(600, 40px);
    margin: 0 auto;
    margin-bottom: 60px;
    max-width: 762px;
    text-align: center;
  }

  .about-top {
    margin-bottom: 177px;
    text-align: center;

    &__subtitle,
    &__text {
      @include raleway(400, 32px);
    }

    &__subtitle {
      margin-bottom: 40px;
    }

    &__text {
      max-width: 1486px;

      & span {
        margin-top: 40px;
        display: block;
        @include raleway(600, 32px);
      }
    }
  }

  .about-bottom {
    .about-list {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 42%;

      &:not(:nth-child(2n)) {
        margin-right: 221px;
      }

      @include tablet {
        width: 35%;
        &:not(:nth-child(2n)) {
          margin-right: 0;
        }
      }

      @include mobile {
        width: 40%;
        &:not(:nth-child(2n)) {
          margin-right: 27px;
        }
      }
    }

    .about-list__item {
      margin-bottom: 50px;

      & span {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 76px;
        height: 76px;
        margin-right: 42px;
        padding: 24px;
        border: 1px solid $mainColor;
        border-radius: 50%;
        text-align: center;
        @include montserrat(400, 32px);
      }

      @include tablet {
        margin-bottom: 12px;
        & span {
          width: 47px;
          height: 47px;
          margin-right: 26px;
          padding: 14px;
          @include montserrat(400, 32px);
        }
      }

      @include mobile {
        margin-bottom: 12px;
        & span {
          width: 17px;
          height: 17px;
          margin-right: 9px;
          padding: 6px;
          @include montserrat(400, 10px);
        }
      }
    }

    &__text {
      margin-bottom: 120px;
      max-width: 1340px;
      display: flex;
      justify-content: space-around;

      @include tablet {
        margin-bottom: 60px;
      }

      @include mobile {
        margin-bottom: 32px;
      }
    }

    .about-info {
      display: flex;
      flex-direction: column;

      &__title {
        @include montserrat(500, 30px);
        margin-bottom: 5px;
      }

      &__descr {
        max-width: 445px;
        @include montserrat(400, 22px);
      }

      @include tablet {
        &__title {
          font-size: 19px;
          margin-bottom: 4px;
        }

        &__descr {
          font-size: 13px;
          padding-right: 16px;
        }
      }

      @include mobile {
        &__title {
          font-size: 7px;
          margin-bottom: 2px;
        }
  
        &__descr {
          font-size: 5px;
          padding-right: 0;
        }
      }
    }

    &__footer {
      margin: 0 auto;
      max-width: 1114px;
      text-align: center;
      @include raleway(600, 32px);

      @include mobile {
        font-size: 8px;
      }
    }
  }

  @include tablet {

    & .about-top {
      margin-bottom: 177px;

      &__text,
      &__subtitle {
        font-size: 32px;
      }

      &__text {
        & span {
          margin-top: 24px;
          @include raleway(600, 32px);
        }
      }
    }
  }

  @include mobile {
    padding-bottom: 36px;

    & .about-title {
      font-size: 10px !important;
      margin-bottom: 16px;
    }

    & .about-top__subtitle {
      margin-bottom: 16px;
    }

    & .about-top {
      margin-bottom: 45px;

      &__text,
      &__subtitle {
        font-size: 8px;
      }

      &__text {
        & span {
          margin-top: 12px;
          @include raleway(600, 10px);
        }
      }
    }

    & &-bottom &-list {
      &__item {
        margin-bottom: 12px;
        & span {
          width: 17px;
          height: 17px;
          margin-right: 9px;
          padding: 6px;
          @include montserrat(400, 10px);
        }
      }
    }
  }
}
