@import "_mixin.scss";

.cart {
  // margin: 56px 0;

  &__header {
    margin: 100px 0 76px;

    &-title {
      margin-top: 0;
    }
  }

  &__content {
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-bottom: 160px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__list-item {
    border-bottom: 1px solid black;
    padding: 28px 0;
    width: 100%;

    &:last-child {
      border-bottom: none;
    }
  }

  @include tablet {
    &__content {
      flex-direction: column;
    }

    &__list-item {
      padding: 28px 0;
    }

    &__header {
      margin-top: 64px;

      &-title {
        margin-top: 0;
      }
    }
  }

  @include mobile {
    &__content {
      flex-direction: column;
    }

    &__list-item {
      padding: 14px 0;
    }

    &__header {
      margin: 20px 0 30px !important;

      &-title {
        margin-top: 0;
      }
    }
  }
}

.checkout {
  border: 1px solid rgba(2, 19, 62, 1);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  max-width: 492px;
  width: 100%;
  height: fit-content;
  font-weight: 500;
  padding: 22px 25px 11px;
  box-shadow: 0px 4px 4px 0px #000;

  position: sticky;
  top: 12px;

  &__summary {
    display: flex;
    gap: 20px;
  }

  &__total {
    display: flex;
    flex-direction: column;
    flex: 1;

    &-label {
      color: $mainColor;
      letter-spacing: 0.72px;
      @include raleway(600, 24px);
    }

    &-items {
      color: rgba(0, 0, 0, 0.8);
      letter-spacing: 0.54px;
      margin-top: 26px;
      @include montserrat(500, 18px);
    }
  }

  &__amount {
    color: #000;
    letter-spacing: 0.72px;
    width: fit-content;
    align-self: start;
    text-align: end;
    font: 24px Montserrat, sans-serif;

    &-value {
      font-weight: bold;
    }

    &-currency {
      font-size: 20px;
    }
  }

  &__promo {
    color: #02133e;
    letter-spacing: 0.6px;
    text-decoration-line: underline;
    margin-top: 56px;
    font: 20px Raleway, sans-serif;
  }

  &__submit {
    background-color: #02133e;
    margin-top: 22px;
    align-items: center;
    color: #fff;
    text-align: center;
    letter-spacing: 0.72px;
    justify-content: center;
    padding: 15px 60px;
    font: 24px Raleway, sans-serif;
    border: none;

    @media (max-width: 991px) {
      max-width: 100%;
      padding: 0 20px;
    }
  }

  &__terms {
    align-self: center;
    display: flex;
    margin-top: 19px;
    gap: 5px;
    font-size: 14px;
    color: #000;
    letter-spacing: 0.42px;
    line-height: 14px;

    label:before {
      margin-right: 8px;
    }

    &-icon {
      aspect-ratio: 1;
      object-fit: auto;
      object-position: center;
      width: 12px;
      align-self: start;
    }

    &-text {
      font-family: Raleway, sans-serif;
      font-size: 14px !important;

      ::after {
        top: 3px;
      }
    }

    &-link {
      text-decoration-line: underline;
    }
  }

  @include tablet {
    padding: 24px 20px 11px;
    margin: 0 auto;

    &__summary {
      gap: 14px;
    }

    &__total {
      &-label {
        font-size: 26px;
      }

      &-items {
        margin-top: 18px;
        font-size: 16px;
      }
    }

    &__amount {
      font-size: 28px;
    }

    &__promo {
      margin-top: 32px;
      font-size: 20px;
    }

    &__submit {
      margin-top: 22px;
      padding: 16px 60px;
      font-size: 26px;
    }

    &__terms {
      margin-top: 18px;
      gap: 10px;
      font-size: 28px;

      label:before {
        margin-right: 8px;
      }

      &-icon {
        width: 10px;
      }

      &-text {
        font-family: Raleway, sans-serif;
        font-size: 16px !important;
      }
    }
  }

  @include mobile {
    padding: 14px 20px 11px;
    margin: 0 auto;

    &__summary {
      gap: 7px;
    }

    &__total {
      &-label {
        font-size: 13px;
      }

      &-items {
        margin-top: 9px;
        font-size: 8px;
      }
    }

    &__amount {
      font-size: 15px;

      &-currency {
        font-size: 13px;
      }
    }

    &__promo {
      margin-top: 18px;
      font-size: 10px;
    }

    &__submit {
      margin-top: 11px;
      padding: 8px 60px;
      font-size: 13px;
    }

    &__terms {
      margin-top: 9px;
      gap: 5px;
      font-size: 14px;

      label:before {
        margin-right: 4px;
      }

      &-icon {
        width: 5px;
      }

      &-text {
        font-family: Raleway, sans-serif;
        font-size: 8px !important;
      }
    }
  }
}
