@import "./mixin";

.categories {
  padding: 170px 0;
  text-transform: uppercase;

  .section-title {
    margin-bottom: 0;
  }

  &__title {
    margin-bottom: 24px;
    @include raleway(400, 40px);
  }

  .categories-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    &__item {
      margin-bottom: 56px;
      width: calc(33% - 52px);

      &:not(:nth-child(3n)) {
        margin-right: 72px;
      }
    }

    .categories-item {
      &__img {
        margin-bottom: 10px;
      }

      &__title {
        margin-bottom: 10px;
        max-width: 425px;
        text-align: center;
        @include raleway(500, 40px);
        text-transform: uppercase;
      }

      &__link {
        padding: 12px 30px;
        @include montserrat(400, 24px);
        text-transform: uppercase;
        color: $gray;
        border: 1px solid $gray;
      }
    }
  }

  @include tablet {
    padding: 95px 0;

    .categories-list {
      .categories-item {
        &__title {
          font-size: 22px;
        }

        &__link {
          padding: 6px 16px;
          font-size: 14px;
        }
      }

      &__item {
        margin-bottom: 28px;
        width: calc(33% - 32px);

        &:not(:nth-child(3n)) {
          margin-right: 40px;
        }
      }
    }

    &__title {
      margin-bottom: 20px;
      @include raleway(400, 32px);
    }
  }

  @include mobile {
    padding: 35px 0;

    .categories-list {
      .categories-item {
        &__img {
          margin-bottom: 4px;
        }

        &__title {
          margin-bottom: 4px;
          font-size: 11px;
        }

        &__link {
          padding: 4px 8px;
          font-size: 7px;
        }
      }

      &__item {
        margin-bottom: 11px;
        width: calc(50% - 17px);

        &:not(:nth-child(even)) {
          margin-right: 18px;
        }

        &:not(:nth-child(odd)) {
          margin-right: 0;
        }
      }
    }

    .section-title {
      text-align: center;
    }

    &__title {
      text-align: center;
      margin-bottom: 20px;
      @include raleway(400, 16px);
    }
  }
}
