@import "_variables.scss";
@import "_fonts.scss";
@import "mixin.scss";

* {
  box-sizing: border-box;
}

*::after,
::before {
  box-sizing: inherit;
}

html {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
}

body {
  position: relative;
  overflow-x: hidden;
}

img {
  object-fit: contain;
  max-width: 100%; /* Установка максимальной ширины картинки */
  height: auto; /* Автоматическое изменение высоты для сохранения пропорций */
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

picture {
  font-size: 0;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.d-flex {
  display: flex;
}

.d-flex-center {
  display: flex;
  align-items: center;
}

.d-flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.d-flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: $containerMaxWidth;
  margin: 0 auto;
  padding: 0 15px;

  @media screen and (min-width: $containerMaxWidthMobile) and (max-width: $containerMaxWidthTablet) {
    max-width: $containerMaxWidthTablet;
    padding: 0 10px;
  }

  @media (max-width: $containerMaxWidthMobile) {
    max-width: $containerMaxWidthMobile;
    padding: 0 5px;
  }
}

.second-container {
  max-width: 1605px;
  margin: 0 auto;
  padding: 0 15px;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.section-title {
  margin-bottom: 47px;
  @include raleway(600, 55px);

  @media (max-width: $containerMaxWidthTablet) {
    margin-bottom: 24px;
    @include raleway(600, 32px);
  }

  @media (max-width: $containerMaxWidthMobile) {
    margin-bottom: 8px;
    @include raleway(600, 24px);
  }
}

.form {
  width: 100%;
  letter-spacing: 0.03em;
  border: 1px solid black;
  -webkit-box-shadow: 3px 5px 18px -7px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 5px 18px -7px rgba(0,0,0,0.75);
  box-shadow: 3px 5px 18px -7px rgba(0,0,0,0.75);
  padding: 52px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.2em;
  margin-bottom: 75px;

  &-title {
    @include raleway(500, 34px);
    margin-bottom: 8px;
    align-self: start;
  }
}

.input {
  display: flex;
  justify-content: space-between;
  width: 100%;
  display: flex;

  &-label {
    @include raleway(400, 36px);
  }

  &-field {
    @include raleway(400, 30px);
    width: 70%;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    padding: 0 16px;

    &::placeholder {
      @include raleway(400, 30px);
    }

    &:focus {
      outline: none;
      border-bottom-color: 2px; // Change border color on focus if desired
    }
  }
}

.form-checkbox {
  input[type="checkbox"] {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
  }

  &__label {
    @include raleway(400, 30px);
    position: relative;
    cursor: pointer;

    &::before {
      content: '';
      -webkit-appearance: none;
      background-color: transparent;
      border: 1px solid #000;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
      padding: 0.6875em;
      display: inline-block;
      position: relative;
      vertical-align: middle;
      cursor: pointer;
      margin-top: -4px;
      margin-right: 36px;
    }
  }

  input:checked + .form-checkbox__label::after {
    content: '';
    display: block;
    position: absolute;
    top: 0.1em;
    left: calc(0.5em + 1px);
    width: 0.375em;
    height: 0.875em;
    border: solid #000;
    border-width: 0 0.08em 0.08em 0;
    transform: rotate(45deg);
  }
}

.gender-checkbox {
  display: flex;
  align-self: start;
  gap: 56px;
  width: 70%;
}

.section-header {
  width: 100%;
  position: relative;
  margin-bottom: 24px;

  &__title {
    color: #02133e;
    text-align: center;
    letter-spacing: 1.2px;
    font: 600 40px Raleway, sans-serif;
    margin: 42px auto 0;
  }

  &__help {
    position: absolute;
    top: 3.2em;
    right: 20px;
    color: #02133e;
    font: 500 24px Raleway, sans-serif;
    flex: 1;
    align-self: end;
    text-align: center;

    a {
      text-decoration: underline;
      font-weight: 600;
    }
  }
}

.share-link {
  display: flex;
  max-width: 664px;
  flex-direction: column;
  color: #02133e;
  text-align: center;
  padding: 0 20px;
  margin: 0 auto 32px;

  @media (max-width: 991px) {
    max-width: 100%;
  }

  &__url {
    letter-spacing: 0.72px;
    text-decoration-line: underline;
    width: 100%;
    font: 600 24px Raleway, sans-serif;

    @media (max-width: 991px) {
      max-width: 100%;
    }
  }

  &__description {
    letter-spacing: 0.6px;
    margin-top: 25px;
    width: 100%;
    font: 400 20px Raleway, sans-serif;

    @media (max-width: 991px) {
      max-width: 100%;
    }
  }
}

.uppercase {
  text-transform: uppercase;
}


/* label container */
.radio-button-container {
  color: rgba(0,0,0,0.75);
  display: block;
  position: relative;
  padding-left: 45px;
  line-height: 25px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.radio-button-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 34px;
  width: 34px;
  background-color: rgba(0,0,0,0);
  border-radius: 50%;
  border: 2px solid rgba(0,0,0,0.25);
  transition: all 0.3s;
}

/* On mouse-over, add a grey background color */
.radio-button-container:hover input ~ .checkmark {
  border-color: rgba(0,0,0,0.5);
}

/* When the radio button is checked */
.radio-button-container input:checked ~ .checkmark {
  background-color: rgba(0,0,0,0);
  border-color: $oceanBlue;
}


/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-button-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio-button-container .checkmark:after {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: $oceanBlue;
}

.w-full {
  width: 100%;
}
