@import "variables.scss";
@import "mixin.scss";

.delivery {
  &__title {
    margin-bottom: 97px;
    @include raleway(600, 45px);
    text-transform: uppercase;
    color: $oceanBlue;
    text-align: center;
  }

  &__descr {
    margin-bottom: 51px;
    @include raleway(400, 32px);
    line-height: 1.5;
    text-align: center;

    &.text {
      margin-bottom: 197px;
    }
  }

  .delivery-table {
    margin-bottom: 68px;
  }

  table,
  th,
  td {
    border: 1px solid $mainColor;
    border-collapse: collapse;
  }

  th {
    padding: 20px 0;
    @include raleway(600, 32px);
  }

  td {
    padding: 20px 40px;
    max-width: 500px;

    &:nth-child(1) {
      max-width: 210px;
      font-weight: 600;
    }
  }

  tbody {
    @include montserrat(500, 24px);
    text-align: center;
  }

  @include tablet {
    &__table {
      margin-bottom: 50px;
    }
    
    th {
      padding: 16px 0;
      @include raleway(600, 16px);
    }

    td {
      padding: 16px 0;
      font-size: 12px;
    }

    &__title {
      font-size: 26px;
      margin-bottom: 52px;
    }

    &__descr {
      font-size: 20px;
      margin-bottom: 22px;

      &.text {
        margin-bottom: 136px;
      }
    }
  }

  @include mobile {
    &__table {
      margin-bottom: 27px;
    }

    table {
      margin: 0 auto;
    }
    
    th {
      padding: 8px 0;
      @include raleway(600, 8px);
    }

    td {
      padding: 8px 0;
      font-size: 6px;
    }

    &__title {
      font-size: 13px;
      margin-bottom: 26px;
    }

    &__descr {
      font-size: 10px;
      margin-bottom: 11px;

      &.text {
        margin-bottom: 68px;
      }
    }
  }
}

.delivery-table__region {
  width: 100%;
  max-width: 1214px;
  margin: 0 auto;

  th {
    margin: 0 8px;
  }
}
