@import "./mixin.scss";
@import "_variables.scss";

.favorites {
  display: flex;
  flex-direction: column;
  margin: 40px 0;

  .favorites-product__list {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    margin-bottom: 56px;

    @include tablet {
      gap: 1.5em;
    }

    @include mobile {
      gap: 1em;
    }
  }

  .favorites-product__item {
    width: calc(25% - 2em); /* 4 cards per row on laptop */
    /* For tablets */
    @include tablet {
      flex: 1 0 calc(33.33% - 1em); /* 3 cards per row */
    }
    /* For mobile */
    @include mobile {
      width: calc(50% - .8em) !important; /* 2 cards per row */
    }
  }

  .product-card {
    display: flex;
    flex-direction: column;
    max-width: 367px;
    width: 100%;

    &__header {
      display: flex;
      justify-content: space-between;
      margin-top: 18px;
      padding-bottom: 4px;
      border-bottom: 1px solid rgba($color: #000000, $alpha: 0.4);
    }

    &__bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__image-container {
      position: relative;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      aspect-ratio: 0.76;

      .product-card__image {
        position: absolute;
        inset: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
      }

      .product-card__badge {
        aspect-ratio: 0.97;
        margin: 26px 28px 0 0;
        width: 39px;
        align-self: end;
        z-index: 10;
      }

      .product-card__overlay {
        @include raleway(500, 24px);
        position: absolute;
        bottom: 30px;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
        border: none;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        color: white;
        padding: 4px 8px;
      }
    }

    &__details {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .product-card__type {
        display: flex;
        align-items: center;
        color: #000;
        letter-spacing: 0.66px;
        @include montserrat(600, 22px);
      }

      .product-card__options {
        display: flex;
        flex-direction: column;
        gap: 2px;

        .product-card__option {
          display: flex;
          align-items: center;
          gap: 10px;

          .product-card__option-label {
            color: rgba(0, 0, 0, 0.6);
            letter-spacing: 0.54px;
            font: 18px Montserrat, sans-serif;
          }

          .product-card__option-link {
            display: block;
            margin-left: auto;
            text-decoration: underline;
          }

          .product-card__option-value {
            @include montserrat(500, 22px);
            color: $mainColor;
            letter-spacing: 0.66px;
          }
        }
      }

      .product-card__sku {
        display: flex;
        gap: 8px;

        .product-card__sku-label {
          color: rgba(0, 0, 0, 0.6);
          font: 18px Montserrat, sans-serif;
          flex-grow: 1;

          &::after {
            content: 'Артикул:';
          }
        }

        .product-card__sku-value {
          color: rgba(0, 0, 0, 0.8);
          letter-spacing: 0.48px;
          flex-grow: 1;
          flex-basis: auto;
          margin: auto 0;
          font: 16px Montserrat, sans-serif;
        }
      }

      .product-card__price {
        display: flex;
        justify-content: space-between;
        align-items: baseline;

        .product-card__price-value {
          font-weight: 500;
          font-size: 26px;
          letter-spacing: 0.78px;
          font-family: Raleway, sans-serif;
        }

        .product-card__price-currency {
          font-size: 20px;
          font-family: Montserrat, sans-serif;
        }
      }

      .product-card__add-to-cart {
        border: 1px solid rgba(124, 124, 124, 1);
        background-color: #02133e;
        color: #fff;
        text-align: center;
        letter-spacing: 0.48px;
        justify-content: center;
        padding: 9px 23px;
        @include raleway(400, 16px);
        cursor: pointer;
      }
    }

    @include tablet {
      &__header {
        margin-top: 16px;
      }

      &__image-container {
        .product-card__badge {
          width: 32px;
          margin: 22px 24px 0 0;
        }

        .product-card__overlay {
          font-size: 16px;
          bottom: 24px;
        }
      }

      &__details {
        gap: 16px;

        .product-card__type {
          @include montserrat(600, 18px);
        }

        .product-card__price {
          &-value,
          &-currency {
            font-family: Montserrat, sans-serif !important;
            font-size: 24px !important;
          }
          &-value {
            font-weight: bold !important;
          }
        }
      }

      &__options {
        .product-card__option {
          &-label,
          &-value {
            font-size: 18px !important;
          }
        }
      }

      &__bottom {
        .product-card__sku {
          gap: 6px !important;
          &-label,
          &-value {
            font-size: 16px !important;
          }

          &-label {
            &::after {
              content: "Арт." !important;
            }
          }
        }
      }

      &__add-to-cart {
        padding: 8px 16px !important;
        font-size: 16px !important;
      }
    }

    @include mobile {
      &__header {
        margin-top: 6px;
      }

      &__image-container {
        .product-card__badge {
          width: 17px;
          margin: 14px 14px 0 0;
        }

        .product-card__overlay {
          font-size: 8px;
          bottom: 12px;
        }
      }

      &__details {
        gap: 7px;

        .product-card__type {
          @include montserrat(600, 11px);
        }

        .product-card__price {
          &-value,
          &-currency {
            font-family: Montserrat, sans-serif !important;
            font-size: 12px !important;
          }
          &-value {
            font-weight: bold !important;
          }
        }
      }

      &__options {
        .product-card__option {
          &-label,
          &-value {
            font-size: 9px !important;
          }
        }
      }

      &__bottom {
        .product-card__sku {
          gap: 4px !important;
          &-label,
          &-value {
            font-size: 7px !important;
          }

          &-label {
            &::after {
              content: "Арт." !important;
            }
          }
        }
      }

      &__add-to-cart {
        padding: 4px 8px !important;
        font-size: 8px !important;
      }
    }
  }

  @include tablet {
    margin-top: 0;
    &-header {
      margin-bottom: 40px !important;
    }
  }

  @include mobile {
    margin-top: 0;
    &-header {
      margin-bottom: 28px !important;
    }
  }
}
