@import "_variables.scss";
@import "_mixin.scss";

.footer {
  padding-top: 40px;
  border-top: 1px solid $mainColor;

  @media (max-width: $containerMaxWidthTablet) {
    padding-top: 24px;
  }

  @media (max-width: $containerMaxWidthMobile) {
    padding-top: 14px;
  }
}

.footer-container {
  margin-bottom: 50px !important;

  @media (max-width: $containerMaxWidthMobile) {
    margin-bottom: 12px !important;
  }
}

.container-list {
  display: flex;
  flex-direction: column;

  &__item:nth-child(1) {
    margin-bottom: 50px;
  }

  @media (max-width: $containerMaxWidthTablet) {
    &__item:nth-child(1) {
      margin-bottom: 28px;
    }
  }

  @media (max-width: $containerMaxWidthMobile) {
    &__item:nth-child(1) {
      margin-bottom: 12px;
    }
  }
}

.footer-list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  &__socials-mobile {
    display: none !important;
  }

  &__title {
    margin-bottom: 43px;
    max-width: 321px;
    text-transform: uppercase;
    @include raleway(400, 26px);
  }

  &__item {
    margin-right: 200px;
    @include raleway(400, 22px);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;

    & input {
      padding: 3px 6px;
      max-width: 314px;
      border: none;
      border-bottom: 1px solid $mainColor;
    }
  }

  &__link {
    display: block;
    margin-bottom: 15px;
  }

  &__form {
    flex-direction: row;
  }

  .form-title {
    margin-bottom: 0;
    margin-right: 60px;
    max-width: 370px;
  }

  @include tablet {
    &__item {
      margin-right: 108px;
    }

    &__title {
      @include raleway(500, 18px);
      margin-bottom: 23px;
    }

    &__form {
      flex-wrap: nowrap;
      margin-left: auto;
      margin-right: 0;
    }

    &__link {
      @include raleway(500, 14px);
      margin-bottom: 10px;
    }

    .form-title {
      @include raleway(500, 18px);
      margin-right: 28px;
      max-width: 236px;
    }
  }

  @include mobile {
    &__item {
      margin-right: 24px;

      input {
        width: 100%;
        font-size: 7px;
        outline: none;
      }
    }

    &__socials {
      display: none;
    }

    &__socials-mobile {
      display: block !important;
      width: 100%;
      max-width: 90px;

      .d-flex {
        gap: 8px;
      }
    }

    &__link {
      margin-bottom: 4px;
    }

    &__title {
      @include raleway(500, 9px);
      margin-bottom: 8px;
    }

    &__form {
      width: fit-content;
      flex-wrap: wrap;
      margin: 0;
      max-width: 88px;
    }

    &__link {
      @include raleway(500, 7px);
      width: 100%;
    }

    .form-title {
      @include raleway(500, 6px);
      margin-right: 0;
      max-width: 118px;
    }
  }
}

.footer-bottom {
  align-items: flex-end;

  @include mobile {
    &__faq {
      margin-bottom: 8px;
      margin-right: auto;
    }
  }
}

.sub-footer {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $oceanBlue;
  color: $whiteColor;

  &__text {
    @include montserrat(400, 20px);
  }

  @include tablet {
    padding: 10px 0;

    &__text {
      @include montserrat(400, 12px);
    }
  }

  @include mobile {
    padding: 4px 0;

    &__text {
      @include montserrat(400, 6px);
    }
  }
}
