@import "./mixin";

.main {
  // margin-bottom: 160px;
  .section-header {
    margin-bottom: 148px;
  }
  .gift-cards {
    display: flex;
    justify-content: space-around;

    &__item {
      width: 40%;
      @include raleway(500, 36px);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }
    &__image {
      margin-bottom: 51px;
      height: 100%;
    }
    &__title {
      text-align: center;
      margin-bottom: 35px;
    }
    &__button {
      background-color: white;
      font-size: 24px;
      border: 1px solid black;
      padding: 7px 35px;

      &:hover {
        background-color: #e3e3e3;
      }
    }
  }

  @include tablet {
    // margin-bottom: 100px;
    .section-header {
      margin-bottom: 100px;
    }
    .gift-cards {
      &__item {
        width: 40%;
        @include raleway(500, 24px);
      }
      &__image {
        margin-bottom: 32px;
      }
      &__title {
        margin-bottom: 24px;
      }
      &__button {
        font-size: 16px;
        padding: 5px 24px;
      }
    }
  }

  @include mobile {
    // margin-bottom: 50px;
    .section-header {
      margin-bottom: 49px;
    }
    .gift-cards {
      &__item {
        width: 40%;
        @include raleway(500, 12px);
      }
      &__image {
        margin-bottom: 17px;
      }
      &__title {
        margin-bottom: 12px;
      }
      &__button {
        font-size: 8px;
        padding: 3px 12px;
      }
    }
  }
}
