@import "_variables.scss";
@import "_mixin.scss";

.login-header .header-top {
  margin-bottom: 0;
}

.login-container {
  display: flex;
  flex-direction: column;
  max-width: 720px;
  margin: 40px auto;
  padding: 0 20px;
  font-weight: 400;

  .login-title {
    @include raleway(600, 40px);
    color: #02133e;
    text-align: center;
    letter-spacing: 1.2px;
    margin-top: 60px;
  }

  .phone {
    display: flex;
    align-items: center;
    margin-top: 50px;

    .country-code {
      @include montserrat(500, 38px);
      height: 100%;
      white-space: nowrap;
      text-align: center;
      outline: none;
      background-color: transparent;
      border: none;
      padding: 14.5px;
      border: 1px solid $gray;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }

    .flag-img {
      width: 35px;
      margin-top: 11px;
    }

    .phone-input {
      @include raleway(500, 24px);
      width: 100%;
      color: rgba(0, 0, 0, 0.4);
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      border: 1px solid $gray;
      border-left: none;
      padding: 24px;
    }
  }

  .code-input {
    @include raleway(500, 24px);
    border: 1px solid $gray;
    border-radius: 4px;
    background-color: #fff;
    margin-top: 13px;
    padding: 24px;
  }

  .code-info {
    @include raleway(500, 24px);
    margin-top: 22px;
    margin-left: 8px;

    .code-timer {
      @include montserrat(700, 24px);
    }
  }

  .login-button {
    border-radius: 4px;
    background-color: #02133e;
    margin-top: 35px;
    max-width: 277px;
    width: 100%;
    color: #fff;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    padding: 16px 60px;
    margin: 35px auto;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #001d46;
    }
  }

  .alternative-login {
    color: #02133e;
    text-align: center;
    letter-spacing: 0.75px;
    text-decoration: underline;
    font-size: 25px;
    font-weight: 600;
    margin-top: 80px;
    cursor: pointer;

    &:hover {
      color: #000;
    }
  }

  .terms {
    text-align: center;
    margin-top: 21px;
    font-size: 18px;
    color: #000;

    .terms-link {
      font-weight: 700;
      text-decoration: underline;
    }
  }

  @include tablet {
    .login-title {
      font-size: 26px;
    }

    .phone-input,
    .code-input {
      padding: 20px;
      font-size: 20px !important;
    }

    .phone {
      margin-top: 24px;

      .phone-input {
        padding: 20px;
      }
    }

    .phone .country-code {
      font-size: 16px;
      padding: 22px 10px;
    }

    .code-info {
      @include raleway(500, 16px);
      margin-top: 14px;
      margin-left: 6px;

      .code-timer {
        @include montserrat(700, 16px);
      }
    }

    .login-button {
      border-radius: 4px;
      margin-top: 24px;
      width: fit-content;
      font-size: 16px;
      padding: 10px 44px;
      margin: 24px auto;
    }

    .alternative-login {
      margin-top: 24px;
      font-size: 16px;
    }
    .terms {
      font-size: 14px;
      margin-top: 14px;
    }
  }

  @include mobile {
    padding: 0 61px;
    .login-title {
      font-size: 13px;
      margin-top: 0;
    }

    .phone-input,
    .code-input {
      padding: 10px;
      font-size: 10px !important;
    }

    .phone {
      margin-top: 44px;

      .phone-input {
        padding: 10px;
      }
    }

    .phone .country-code {
      font-size: 8px;
      padding: 10.5px 5px;
    }

    .code-info {
      @include raleway(500, 8px);
      margin-top: 7px;
      margin-left: 3px;
      text-align: center;

      .code-timer {
        @include montserrat(700, 8px);
      }
    }

    .login-button {
      border-radius: 4px;
      margin-top: 12px;
      width: fit-content;
      font-size: 8px;
      padding: 5px 22px;
      margin: 12px auto;
    }

    .alternative-login {
      margin-top: 8px;
      font-size: 8px;
    }
    .terms {
      font-size: 7px;
      margin-top: 7px;
    }
  }
}

.login {
  margin: auto 0;
}
