// Variables
$order-info-label-width: 39%; // Width of the labels column
$order-info-values-width: 61%; // Width of the values column

// Mixin for flex centering
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Styles
.order-details {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    padding-left: 55px;

  @media (max-width: 991px) {
    padding-left: 20px;
  }
}

.order-header {
  align-self: center;
  display: flex;
  width: 100%;
  max-width: 1048px;
  gap: 20px;
  margin-top: 101px;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.72px;

  @media (max-width: 991px) {
    max-width: 100%;
    flex-wrap: wrap;
    margin-top: 40px;
  }
}

.order-number {
  color: #000;
  font-family: Montserrat, sans-serif;
  flex: 1;
  margin: auto 0;
}

.order-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 auto !important;
  margin-top: 26px !important;
  width: 754px;
  max-width: 100%;

  @media (max-width: 991px) {
    flex-direction: column;
    align-items: stretch;
    gap: 0;
  }
}

.order-info-labels {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: $order-info-label-width;
  margin-left: 0;

  @media (max-width: 991px) {
    width: 100%;
  }
}

.order-info-label {
  font-family: Raleway, sans-serif;
  font-size: 24px;
  color: #000;
  font-weight: 400;
  letter-spacing: 0.72px;
  margin-top: 24px;
  flex: 1;

  &:first-child {
    margin-top: 0;
  }
}

.order-info-values {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: $order-info-values-width;
  margin-left: 20px;

  @media (max-width: 991px) {
    width: 100%;
    margin-left: 0;
    margin-top: 20px;
  }
}

.order-info-value {
  font-family: Raleway, sans-serif;
  font-size: 24px;
  color: #000;
  font-weight: 400;
  letter-spacing: 0.72px;
  flex: 1;

  &:first-child {
    margin-top: 0;
  }
}

.order-info-email,
.order-info-phone,
.order-info-number {
  font-family: Montserrat, sans-serif;
}

.order-info-delivery {
  font-weight: 500;
}

.order-info-address {
  color: rgba(0, 0, 0, 0.6);
  letter-spacing: 0.48px;
  font: 500 16px/18px Raleway, sans-serif;
}

.order-info-cost {
  letter-spacing: 0.6px;
  font: 20px Montserrat, sans-serif;
}

.order-info-total {
  letter-spacing: 0.6px;
  font: 500 20px Montserrat, sans-serif;
}

.order-items-title {
  width: 100%;
  color: #000;
  text-align: center;
  letter-spacing: 0.72px;
  margin: 83px 0 40px;
  font: 500 24px Raleway, sans-serif;

  @media (max-width: 991px) {
    margin: 40px 0 0 10px;
  }
}

.order-info-item {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}

// order item

ul.orders-item__list {
  display: flex;
  margin-bottom: 80px;
  flex-direction: column;
  width: 100%;
  gap: 48px;
}

.order-item {
  &-container {
    margin: 0 auto;
    width: 100%;
    max-width: 775px;
  }

  &-layout {
    display: flex;
    width: 100%;
    flex-grow: 1;
    gap: 20px;

    @media (max-width: 991px) {
      flex-direction: column;
      align-items: stretch;
      gap: 0;
    }
  }

  &-image {
      object-position: center;
      flex-grow: 1;
      max-width: 156px;
  }

  &-details {
    &-column {
      display: flex;
      flex-direction: column;
      line-height: normal;
      width: 80%;
      margin-left: 20px;
      
      @media (max-width: 991px) {
        margin-left: 10px;
        width: 100%;
      }
    }

    &-wrapper {
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      justify-content: space-between;
      font-weight: 500;
    }
  }

  &-info {
    display: flex;
    align-items: start;
    width: 100%;
    gap: 24px;
    justify-content: space-between;

    @media (max-width: 991px) {
      max-width: 100%;
      flex-wrap: wrap;
    }
  }

  &-name {
    display: flex;
    flex-direction: column;
    font-size: 22px;
    letter-spacing: 0.66px;

    &-wrapper {
      display: flex;
      gap: 20px;
      font-size: 24px;
      color: #000;
      justify-content: space-between;
    }

    &-text {
      font-family: Raleway, sans-serif;
      background: none;
      border: none;
      padding: 0;
      cursor: pointer;
    }
  }

  &-color {
    &-indicator {
      background-color: #000;
      border-radius: 50%;
      width: 25px;
      height: 25px;
      border: none;
      padding: 0;
      cursor: pointer;
    }

    &-wrapper {
      display: flex;
      margin-top: 7px;
      gap: 17px;
    }

    &-label {
      color: rgba(0, 0, 0, 0.5);
      font-family: Montserrat, sans-serif;
    }

    &-value {
      color: #000;
      text-align: center;
      font-family: Montserrat, sans-serif;
      line-height: 109%;
      flex-grow: 1;
      flex-basis: auto;
      background: none;
      border: none;
      padding: 0;
      cursor: pointer;
    }
  }

  &-size {
    display: flex;
    margin-top: 11px;
    gap: 19px;

    &-label {
      color: rgba(0, 0, 0, 0.5);
      font-family: Montserrat, sans-serif;
      flex-grow: 1;
    }

    &-value {
      color: #000;
      text-align: center;
      font-family: Montserrat, sans-serif;
      line-height: 109%;
      flex-grow: 1;
      flex-basis: auto;
      background: none;
      border: none;
      padding: 0;
      cursor: pointer;
    }
  }

  &-price {
    color: #000;
    letter-spacing: 0.72px;
    font: 24px/24px Montserrat, sans-serif;
  }

  &-meta {
    display: flex;
    // margin-top: 81px;
    align-self: end;
    width: 100%;
    align-items: flex-start;
    gap: 20px;
    justify-content: space-between;

    @media (max-width: 991px) {
      max-width: 100%;
      flex-wrap: wrap;
      margin-top: 40px;
    }
  }

  &-sku {
    align-self: end;
    display: flex;
    margin-top: 30px;
    gap: 3px;
    padding: 0 20px;

    &-label {
      color: rgba(0, 0, 0, 0.6);
      letter-spacing: 0.54px;
      flex-grow: 1;
      font: 18px Montserrat, sans-serif;
    }

    &-value {
      color: rgba(0, 0, 0, 0.8);
      letter-spacing: 0.48px;
      flex-grow: 1;
      flex-basis: auto;
      margin: auto 0;
      font: 16px Montserrat, sans-serif;
    }
  }

  &-delivery-info {
    background-color: #02133e;
    align-self: start;
    color: #fff;
    text-align: center;
    letter-spacing: 0.48px;
    justify-content: center;
    padding: 6px 36px;
    font: 16px Raleway, sans-serif;
    border: none;
    cursor: pointer;

    @media (max-width: 991px) {
      padding: 0 20px;
    }
  }
}