@import "_mixin.scss";

.product {
  letter-spacing: 0.03em;

  &-articul {
    @include raleway(400, 24px);
    margin-bottom: 4px;
  }

  &-matching__item {
    width: 24%;
  }

  #info {
    margin: 0 36px;
  }

  &-info {
    margin-bottom: 180px;
    &__bottom,
    &__head {
      display: flex;
      justify-content: space-between;
    }

    &__head {
      margin-top: 58px;
      margin-bottom: 51px;
      width: 100%;
    }

    &__title {
      @include montserrat(400, 36px);
      margin-bottom: 13px;
      text-transform: uppercase;

      &-type {
        @include raleway(400, 36px);
      }
    }

    .price {
      &__full {
        @include montserrat(400, 50px);
        text-align: right;
      }

      &__partial {
        display: flex;
        align-items: center;

        & img {
          margin-right: 10px;
        }
      }

      &__parts {
        @include montserrat(500, 18px);
      }
    }

    .variants {
      &__title {
        @include raleway(400, 24px);
        margin-bottom: 12px;
      }

      .size__table-link {
        display: inline-block;
        text-decoration: underline;
      }
    }

    @include tablet {
      margin-bottom: 24px;

      &__title {
        font-size: 30px;
        text-align: center;
        margin-bottom: 8px;

        &-type {
          font-size: 30px;
          display: block;
        }
      }

      &__head {
        margin: 12px 0;
      }

      .price {
        margin-top: 24px;
        margin-bottom: 12px;

        &__full {
          @include raleway(600, 36px);
          text-align: center;
          margin-bottom: 8px;
        }

        &__partial {
          justify-content: center;

          & img {
            margin-right: 5px;
            width: 20%;
          }
        }

        &__parts {
          @include montserrat(500, 14px);
        }
      }

      .variants {
        &__title {
          @include raleway(400, 16px);
          margin-bottom: 6px;
        }

        .size__table-link {
          font-size: 10px;
        }
      }
    }

    @include mobile {
      margin-bottom: 24px;

      &__title {
        font-size: 12px;
        text-align: center;
        margin-bottom: 4px;

        &-type {
          font-size: 12px;
          display: block;
          text-align: center;
        }

        &-wrapper {
          display: flex;
          flex-direction: column-reverse;
        }
      }

      &__head {
        flex-direction: column;
        justify-content: center;
        margin: 12px 0;
      }

      .price {
        margin-top: 24px;
        margin-bottom: 12px;

        &__full {
          @include raleway(600, 14px);
          font-size: 14px;
          text-align: center;
          margin-bottom: 8px;
        }

        &__partial {
          justify-content: center;

          & img {
            margin-right: 5px;
            width: 20%;
          }
        }

        &__parts {
          @include montserrat(500, 8px);
        }
      }

      .variants {
        &__title {
          @include raleway(400, 10px);
          margin-bottom: 6px;
        }

        .size__table-link {
          font-size: 6px;
        }
      }
    }
  }

  &-actions {
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;

    &__icon img {
      height: 80px;
      width: 115px;
    }

    &__add {
      @include raleway(400, 32px);
      font-variant: small-caps;
      background-color: #02133e !important;
      padding: 8px 24px !important;
      color: #fff;
    }

    @include mobile {
      &__icon img {
        height: 18px;
        width: 100%;
        margin-right: 6px;
      }

      &__add {
        @include raleway(400, 9px);
        font-variant: small-caps;
        padding: 4px 24px !important;
      }
    }
  }

  @include mobile {
    &-similar {
      margin-top: 50px !important;

      &__title {
        font-size: 10px !important;
        margin-bottom: 12px !important;
      }
    }
    &-articul {
      @include montserrat(400, 6px)
    }
  }
}

.size {
  margin-bottom: 52px;

  &__list {
    display: flex;
    gap: 17px;
    margin-bottom: 24px !important;
  }

  &__item {
    padding: 4px 36px;
    border: 1px solid #000;
    cursor: pointer;

    &:hover {
      background-color: #e3e3e3;
    }

    @include montserrat(500, 22px);
    text-align: center;
  }

  @include tablet {
    margin-bottom: 24px;

    &__list {
      margin-bottom: 4px !important;
    }

    &__item {
      @include montserrat(500, 18px);
      padding: 6px 18px;
    }
  }

  @include mobile {
    margin-bottom: 16px;

    &__list {
      margin-bottom: 2px !important;
    }

    &__item {
      @include montserrat(500, 9px);
      padding: 4px 13px;
    }
  }
}

.color {
  &__list {
    display: flex;
    gap: 8px;
  }

  &__item {
    width: 80px;
    height: 12px;
    cursor: pointer;
  }

  @include mobile {
    &__item {
      width: 50%;
    }
  }
}

.product-similar {
  margin-top: 100px;
  &__title {
    @include montserrat(400, 40px);
    margin-bottom: 44px;
  }
}
