@import "_mixin.scss";

.product {
  letter-spacing: 0.03em;

  &__filters {
    padding-bottom: 53px !important;
  }

  &-articul {
    @include montserrat(400, 24px);
    margin-bottom: 4px;
  }

  #info {
    margin: 0 36px;
  }

  &-info {
    margin-bottom: 180px;
    &__bottom,
    &__head {
      display: flex;
      justify-content: space-between;
    }

    &__head {
      margin-top: 58px;
      margin-bottom: 51px;
      width: 100%;
    }

    &__title {
      @include montserrat(400, 36px);
      margin-bottom: 8px;
      text-transform: uppercase;

      &-type {
        @include raleway(400, 34px);
        color: $oceanBlue;
      }
    }

    .price {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &__full {
        @include montserrat(400, 50px);
        text-align: right;
        // margin-bottom: 12px;
        line-height: 0.9;
      }

      &__partial {
        display: flex;
        align-items: center;
        margin-bottom: 2px;

        & img {
          margin-right: 10px;
        }
      }

      &__parts {
        @include montserrat(500, 18px);
      }
    }

    .variants {
      &__title {
        @include raleway(400, 23px);
        margin-bottom: 12px;
      }

      .size__table-link {
        display: inline-block;
        text-decoration: underline;
      }
    }

    @include tablet {
      margin-bottom: 24px;

      &__title {
        font-size: 30px;
        text-align: center;
        margin-bottom: 8px;

        &-type {
          font-size: 30px;
          display: block;
        }
      }

      &__head {
        margin: 12px 0;
      }

      .price {
        &__full {
          @include raleway(600, 36px);
          text-align: center;
          margin-bottom: 8px;
          // line-height: .8;
        }

        &__partial {
          justify-content: center;

          & img {
            margin-right: 5px;
            width: 20%;
          }
        }

        &__parts {
          @include montserrat(500, 14px);
        }
      }

      .variants {
        &__title {
          @include raleway(400, 16px);
          margin-bottom: 6px;
        }

        .size__table-link {
          font-size: 10px;
        }
      }
    }

    @include mobile {
      margin-bottom: 24px;

      &__title {
        font-size: 12px;
        text-align: center;
        margin-bottom: 4px;

        &-type {
          font-size: 12px;
          display: block;
          text-align: center;
        }

        &-wrapper {
          display: flex;
          flex-direction: column-reverse;
        }
      }

      &__head {
        flex-direction: column;
        justify-content: center;
        margin: 12px 0;
      }

      .price {
        margin-top: 15px;
        margin-bottom: 12px;

        &__full {
          @include raleway(600, 14px);
          font-size: 14px;
          text-align: center;
          margin-bottom: 8px;

          &-currency {
            font-size: 12px;
            font-weight: normal;
          }
        }

        &__partial {
          justify-content: center;

          & img {
            margin-right: 5px;
            width: 20%;
          }
        }

        &__parts {
          @include montserrat(500, 8px);
        }
      }

      .variants {
        &__title {
          @include raleway(400, 10px);
          margin-bottom: 6px;
        }

        .size__table-link {
          font-size: 6px;
        }
      }
    }
  }

  &-actions {
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 27px;

    &__group {
      display: flex;
      flex-direction: column;
      gap: 18px;
    }

    &__gift {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 24px;

      &-text {
        @include raleway(500, 22px);
        display: flex;
        align-items: center;
        text-transform: uppercase;
        cursor: pointer;
      }
      &-img {
        margin-left: 20px;
        max-height: 34px;
      }
      &-tooltip {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border: 1px solid $gray;
        background-color: #b5b5b536;
        border-radius: 50%;
        padding: 14px;
        position: relative;

        &::before {
          content: "?";
          position: absolute;
        }
      }
    }

    &__icon {
      display: flex;
      align-items: center;
      margin-top: 2px;
      align-self: end;
      & img {
        max-height: 62px;
      }
    }

    &__add {
      @include raleway(400, 30px);
      font-variant: small-caps;
      background-color: #02133e !important;
      padding: 14px 45px !important;
      color: #fff;
    }

    @include mobile {
      gap: 10px;
      &__group {
        gap: 6px;
      }

      &__gift {
        gap: 8px;
        justify-content: end;

        &-text {
          @include raleway(500, 7px);
        }
        &-img {
          margin-left: 7px;
          max-height: 12px;
        }
        &-tooltip {
          padding: 5px;
          font-size: 7px;
          margin-left: 9px;
        }
      }

      &__icon {
        & img {
          height: 18px;
          width: 100%;
        }
      }

      &__add {
        @include raleway(400, 9px);
        font-variant: small-caps;
        padding: 4px 24px !important;
      }
    }
  }

  @include tablet {
    &-similar {
      margin-top: 80px !important;

      &__title {
        font-size: 24px !important;
        margin-bottom: 24px !important;
      }
    }
    &-articul {
      @include montserrat(400, 6px);
    }
  }

  @include mobile {
    &-similar {
      margin-top: 50px !important;

      &__title {
        font-size: 10px !important;
        margin-bottom: 12px !important;
      }
    }
    &-articul {
      @include montserrat(400, 6px);
    }
  }
}

.size {
  margin-bottom: 52px;

  &__list {
    display: flex;
    gap: 17px;
    margin-bottom: 24px !important;
  }

  &__table-link {
    font-size: 20px;
  }

  &__item {
    padding: 4px 36px;
    border: 1px solid $gray;
    cursor: pointer;

    &:hover {
      background-color: #e3e3e3;
    }

    @include montserrat(600, 22px);
    text-align: center;
  }

  @include tablet {
    margin-bottom: 24px;

    &__list {
      margin-bottom: 4px !important;
    }

    &__table-link {
      font-size: 10px;
    }

    &__item {
      @include montserrat(500, 18px);
      padding: 6px 18px;
    }
  }

  @include mobile {
    margin-bottom: 16px;

    &__list {
      margin-bottom: 2px !important;
    }

    &__table-link {
      font-size: 6px;
    }

    &__item {
      @include montserrat(500, 9px);
      padding: 4px 13px;
    }
  }
}

.color {
  &__list {
    display: flex;
    gap: 8px;
  }

  &__item {
    width: 80px;
    height: 12px;
    cursor: pointer;
  }

  @include mobile {
    &__item {
      width: 50%;
    }
  }
}

.product-similar {
  margin-top: 100px;
  &__title {
    @include montserrat(400, 40px);
    margin-bottom: 44px;
  }
}
