@import 'variables.scss';
@import 'mixin.scss';

.referal {
  text-align: center;

  &__info {
    margin-bottom: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__conditions {
    margin-bottom: 190px;
    text-align: left;
  }

  &__orders {
    margin-bottom: 200px;
  }

  &__users {
    margin-bottom: 410px;
  }

  &__title {
    margin-bottom: 87px;
    @include raleway(600, 45px);
    text-transform: uppercase;
    color: $oceanBlue;
  }

  &__subtitle {
    margin-bottom: 55px;
    @include raleway(600, 36px);
    text-transform: uppercase;
    color: $oceanBlue;
    text-align: center;
  }

  &__link {
    @include montserrat(400, 32px);

    & span {
      display: block;
      text-transform: uppercase;
      color: $oceanBlue;
    }
  }

  .referal-text {
    margin-bottom: 45px;
    @include raleway(400, 32px);
    line-height: 1.5;

    &.info {
      max-width: 1150px;
    }

    & span {
      @include montserrat(400, 32px);
    }
  }

  // @include tablet {
  //   &__title {
  //     font-size: 26px;
  //     margin-bottom: 52px;
  //   }

  //   &__conditions,
  //   &__size,
  //   &__item {
  //     margin-bottom: 92px;
  //   }

  //   &__rules {
  //     margin-bottom: 64px;
  //   }

  //   &__subtitle {
  //     font-size: 24px;
  //     margin-bottom: 32px;
  //   }

  //   &__descr {
  //     font-size: 20px;
  //     margin-bottom: 22px;

  //     &.text {
  //       margin-bottom: 136px;
  //     }
  //   }

  //   &__subdescr {
  //     font-size: 20px;
  //     margin-bottom: 32px;
  //   }

  //   &-list {
  //     font-size: 20px;
  //     padding-left: 36px !important;

  //     &__title {
  //       font-size: 20px;
  //     }
  //   }
  // }

  @include mobile {
    &__title {
      font-size: 13px;
      margin-bottom: 26px;
    }

    &__subtitle {
      font-size: 10px;
      margin-bottom: 14px;
    }

    &__link {
      font-size: 8px;
    }

    &__info {
      margin-bottom: 32px;
    }

    &__conditions, &__orders, &__users {
      margin-bottom: 46px;
    }

    &__users {
      width: 70%;
      margin: 0 auto;
    }

    .referal-text {
      margin-bottom: 32px;
      font-size: 8px;
  
      & span {
        font-size: 8px;
        font-weight: bold;
      }
    }

    .referal__link {
      font-size: 8px;
  
      & span {
        font-size: 8px;
        font-weight: bold;
      }
    }
  }
}
