@import "variables.scss";
@import "mixin.scss"; 

.return {
  @include raleway(400, 32px);

  &__filters {
    padding-bottom: 38px !important;
  }

  &__rules,
  &__conditions,
  &__size,
  &__item {
    margin-bottom: 200px;
    line-height: 1.5;
  }

  &__rules {
    display: flex;
    flex-direction: column;
    align-items: center;

    & p {
      max-width: 1150px;
      text-align: center;
    }
  }

  &__title,
  &__subtitle {
    margin-bottom: 50px;
    text-transform: uppercase;
    text-align: center;
    color: $oceanBlue;
  }

  &__title {
    @include raleway(500, 45px);
  }

  &__subtitle {
    @include raleway(500, 36px);
  }

  .return-list {
    padding-left: 30px;
    list-style: disc;
  }

  &__subdescr {
    margin-bottom: 50px;
  }

  @include tablet {
    &__title {
      font-size: 26px;
      margin-bottom: 52px;
    }

    &__conditions,
    &__size,
    &__item {
      margin-bottom: 92px;
    }

    &__rules {
      margin-bottom: 64px;
    }

    &__subtitle {
      font-size: 24px;
      margin-bottom: 32px;
    }

    &__descr {
      font-size: 20px;
      margin-bottom: 22px;

      &.text {
        margin-bottom: 136px;
      }
    }

    &__subdescr {
      font-size: 20px;
      margin-bottom: 32px;
    }

    &-list {
      font-size: 20px;
      padding-left: 36px !important;

      &__title {
        font-size: 20px;
      }
    }
  }

  @include mobile {
    &__title {
      font-size: 13px;
      margin-bottom: 26px;
    }

    &__conditions,
    &__size,
    &__item {
      margin-bottom: 46px;
    }

    &__rules {
      margin-bottom: 32px;
    }

    &__subtitle {
      font-size: 10px;
      margin-bottom: 16px;
    }

    &__descr {
      font-size: 10px;
      margin-bottom: 11px;

      &.text {
        margin-bottom: 68px;
      }
    }

    &__subdescr {
      font-size: 8px;
      margin-bottom: 16px;
    }

    &-list {
      font-size: 8px;
      padding-left: 16px !important;

      &__title {
        font-size: 8px;
      }
    }
  }
}

.return-process {
  @include montserrat(500, 24px);

  display: flex;
  gap: 99px;

  .step {
    display: flex;
    align-items: center;
    flex-basis: calc(33.33% - 33px);
    margin-bottom: 20px;
    width: 100%;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .step-number {
    @include montserrat(400, 32px);
    width: 76px;
    height: 76px;
    border: 1px solid #000;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .step-description {
    flex: 1;
    margin-left: 20px;
    letter-spacing: 0.03em;
    line-height: 1;
    text-align: left;
    max-width: 100%;
  }

  @include tablet {
    width: 60%;
    gap: 16px;
    margin: 0 auto;
    flex-direction: column;

    .step {
      display: flex;
      justify-content: center;
    }

    .step-number {
      font-size: 24px;
      width: 49px;
      height: 49px;
    }

    .step-description {
      font-size: 16px;
      max-width: 50%;
    }
  }

  @include mobile {
    flex-wrap: wrap;
    width: 60%;
    gap: 16px;
    margin: 0 auto;

    .step-number {
      font-size: 12px;
      width: 25px;
      height: 25px;
    }

    .step-description {
      font-size: 8px;
      line-height: 13px;
    }

    .step {
      flex-basis: 100%;
      margin-bottom: 0;
    }
  }
}
