// sizes
$containerMaxWidth: 1800px;
$containerMaxWidthTablet: 1200px;
$containerMaxWidthMobile: 767.98px;
$gutterGap: 30px;

// colors
$mainColor: #000;
$whiteColor: #fff;
$oceanBlue: #02133E;
$gray: #7C7C7C;
