@import '../../node_modules/normalize.css/normalize.css';
@import '_hero.scss';
@import '_news.scss';
@import '_shoes.scss';
@import '_more.scss';
@import '_categories.scss';
@import '_about.scss';
@import '_footer.scss';
@import '_libs.scss';
@import '_fonts.scss';
@import '_common.scss';
@import '_animation.scss';
@import '_uikit.scss';
@import '_media.scss';

@import 'components/header.scss';
@import 'components/hero-nav.scss';
@import 'components/swiper.scss';
@import 'components/news-swiper.scss';
@import 'components/jeans/filters.scss';
@import 'components/jeans/main-gallery.scss';
@import 'components/jeans/sub-gallery.scss';

